﻿
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="section-block intro-title-2-1 small">
    <div class="media-overlay bkg-black opacity-02"></div>
    <div class="row">
        <div class="column width-10 offset-1 center">
            <div class="title-container">
                <div class="title-container-inner color-white">
                    <h1 class="title-large mb-30 mt-30">Contact Us.</h1>
                    <p class="small">We're ready to lead you to your perfect career!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Company Details-->
<div class="section-block replicable-content">
    <div class="row flex">
        <div class="column width-4">
            <div class="feature-column medium center">
                <span class="feature-icon icon-location"></span>
                <div class="feature-text">
                    <h3 class="mb-5">Pop On By</h3>
                    <h6 class="mb-30 weight-light color-grey">Mon-Fri 9:00 am - 17:00 pm</h6>
                    <p class="mb-0 mb-mobile-50">Just feel like visiting our uber cool offices &amp; have a chat. <a data-content="iframe" data-toolbar="" href="http://maps.google.com?q=40.723301,-74.002988&amp;output=embed&amp;z=18" class="lightbox-link">Find Us On Google</a></p>
                </div>
            </div>
        </div>
        <div class="column width-4">
            <div class="feature-column medium center">
                <span class="feature-icon icon-phone"></span>
                <div class="feature-text">
                    <h3 class="mb-5">Give Us A Call</h3>
                    <h6 class="mb-30 weight-light color-grey">+1 987 874 32 / Ext. 4</h6>
                    <p class="mb-0 mb-mobile-50">Get in touch with us and let's chat about your next project and how to reach its full potential.</p>
                </div>
            </div>
        </div>
        <div class="column width-4">
            <div class="feature-column medium center">
                <span class="feature-icon icon-twitter"></span>
                <div class="feature-text">
                    <h3 class="mb-5">Chat With Us</h3>
                    <h6 class="mb-30 weight-light color-grey">@@careerwiz</h6>
                    <p class="mb-0 mb-mobile-50">Just want to have a chant, hit us up on Twitter with any questions or comments.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Contact us content-->
<div class="section-block hero-6 hero-6-contact-1 clear-height bkg-grey-ultralight show-media-column-on-mobile tmh-perspective">
    <div class="media-column width-6 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3" style="backface-visibility: hidden; transition-property: -moz-transform, opacity; transition-duration: 1000ms; transition-timing-function: cubic-bezier(0.11, 0.69, 0.66, 1.01); transition-delay: 0s; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;"></div>
    <div class="row">
        <div class="column width-5 offset-7">
            <div class="hero-content split-hero-content">
                <div class="hero-content-inner left">
                    <p class="lead text-large color-theme mb-50">The CareerWiz Promise.</p>
                    <p>We are forward thinking, vibrant and passionate about what we do.
                       Being change oriented, we pledge to make a difference to all who use our platform.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Contact Form-->
<section class="section-block replicable-content contact-2">
    <div class="row">
        <div class="column width-8 offset-2">
            <h3 class="mb-50">Drop us a message...</h3>
            <div class="contact-form-container">
                <form class="contact-form" action="php/send-email.php" method="post" novalidate="">
                    <div class="row">
                        <div class="column width-6">
                            <input name="fname" class="form-fname form-element rounded large" placeholder="First Name*" tabindex="1" required="" type="text">
                        </div>
                        <div class="column width-6">
                            <input name="lname" class="form-lname form-element rounded large" placeholder="Last Name" tabindex="2" type="text">
                        </div>
                        <div class="column width-6">
                            <input name="email" class="form-email form-element rounded large" placeholder="Email address*" tabindex="3" required="" type="email">
                        </div>
                        <div class="column width-6">
                            <input name="website" class="form-website form-element rounded large" placeholder="Website" tabindex="4" type="text">
                        </div>
                        <div class="column width-6">
                            <div class="form-select form-element rounded large">
                                <select name="options" class="form-aux" data-label="Options" tabindex="5">
                                    <option selected="selected" value="">Reason for enquiry</option>
                                    <option value="">Complaint</option>
                                    <option value="">Enquiry</option>
                                    <option value="">Technical Issue</option>
                                    <option value="">General Question</option>
                                </select>
                            </div>
                        </div>
                        <div class="column width-6">
                            <div class="form-select form-element rounded large">
                                <select name="options" class="form-aux" data-label="Options" tabindex="5">
                                    <option selected="selected" value="">How'd You Find Careerwiz</option>
                                    <option value="">From a friend</option>
                                    <option value="">Found CareerWiz online</option>
                                    <option value="">Through advertising</option>
                                </select>
                            </div>
                        </div>
                        <div class="column width-6">
                            <input name="honeypot" class="form-honeypot form-element large" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column width-12">
                            <textarea name="message" class="form-message form-element rounded large" placeholder="Message*" tabindex="6" required=""></textarea>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="checkbox-1" class="form-element checkbox rounded" name="checkbox-1" type="checkbox">
                                <label for="checkbox-1" class="checkbox-label">Yup, I want to receive the CareerWiz newsletter</label>
                            </div>
                        </div>
                        <div class="column width-12">
                            <input value="Send Email" class="form-submit button rounded medium bkg-theme bkg-hover-green color-white color-hover-white" type="submit">
                        </div>
                    </div>
                </form>
                <div class="form-response"></div>
            </div>
        </div>
    </div>
</section>