﻿@model CareerWizCMS.View_Models.InstitutionCourseLinkTable.clsInstitutionCourseLinkTableAdd

@{
    ViewBag.Title = "InstitutionCourseLinkTableAdd";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Add Institution And Course Link</h2>
            </header>
            <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmInstitutionCourseLinkTableAdd", @name = "frmInstitutionCourseLinkTableAdd" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4 class="mb-xlg">Institution</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstInstitutions">Institution</label>
                            <div class="col-md-8">
                                @if (Model.lstInstitutions.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsInstitutionCourseLinkTable.iInstitutionID, new SelectList(Model.lstInstitutions, "iInstitutionID", "strTitle"), "-- Select An Institution --", new { id = "lstInstitutions", name = "lstInstitutions" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsInstitutionCourseLinkTable.iInstitutionID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsInstitutionCourseLinkTable.iInstitutionID, new SelectList(Model.lstInstitutions, "iInstitutionID", "strTitle"), "-- No Institutions Available --", new { id = "lstInstitutions", name = "lstInstitutions" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsInstitutionCourseLinkTable.iInstitutionID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    <hr class="dotted tall">
                    <h4 class="mb-xlg">Course</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstCourses">Course</label>
                            <div class="col-md-8">
                                @if (Model.lstCourses.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsInstitutionCourseLinkTable.iCourseID, new SelectList(Model.lstCourses, "iCourseID", "strTitle"), "-- Select A Course --", new { id = "lstCourses", name = "lstCourses" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsInstitutionCourseLinkTable.iCourseID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsInstitutionCourseLinkTable.iCourseID, new SelectList(Model.lstCourses, "iCourseID", "strTitle"), "-- No Courses Available --", new { id = "lstCourses", name = "lstCourses" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsInstitutionCourseLinkTable.iCourseID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    @*<hr class="dotted tall">*@
                    <div class="row">
                        <hr />
                    </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("InstitutionCourseLinkTableView", "InstitutionCourseLinkTable")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
            }
                </div>
        </section>
    </div>
</div>
<!-- end: page -->

<!-- information modal popup -->
<!-- item exists -->
<script type="text/javascript">
    function itemExists() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institution and Course Link item already exists.',
			type: 'info',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("Add Institution And Course Link Setting | CareerWiz CMS");
        $("#h2PageHeader").text("Add Institution And Course Link Setting");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("InstitutionCourseLinkTableView", "InstitutionCourseLinkTable")'>Institution And Course Links</a></li>");
        $("#olBreadcrumbs").append("<li><span>Add Institution And Course Link Setting</span></li>");

        @{
            //ADD SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionCourseLinkTableRecordExists"] != null)
            {
                if ((bool)TempData["bIsInstitutionCourseLinkTableRecordExists"] == true)
                {
                    <text>
                        itemExists();
                    </text>
                }
            }
        }
    }
</script>

