﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CareerWiz</title>
    <link href="~/Content/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">

    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Career Wiz" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="~/Content/assets/images/favicon.png" />
    <meta property="og:description" content="" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/favicon.png">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400|Playfair+Display:400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="~/Content/assets/css/timber.css" rel="stylesheet" />
    <link href="~/Content/assets/css/avalanche.css" rel="stylesheet" />
    <link href="~/Content/assets/css/core.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/horizon.css" rel="stylesheet" />
    <link href="~/Content/assets/css/skin.css" rel="stylesheet" />
    <link href="~/Content/assets/css/snowbridge.css" rel="stylesheet" />
    <link href="~/Content/assets/css/summit.css" rel="stylesheet" />
    <link href="~/Content/assets/css/templates.css" rel="stylesheet" />
</head>
<body class="shop home-page">

    <!-- Side Navigation Menu -->
    <aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="scale-in">
        <div class="side-navigation-scroll-pane">
            <div class="side-navigation-inner">
                <div class="side-navigation-header">
                    <div class="navigation-hide side-nav-hide">
                        <a href="#">
                            <span class="icon-cancel medium"></span>
                        </a>
                    </div>
                </div>
                <nav class="side-navigation center">
                    <ul>
                        <li class="current">
                            <a href="#" class="contains-sub-menu">MENU</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li class="current">
                                    @Html.ActionLink("About", "About", "Home")
                                </li>
                                <li class="current">
                                    @Html.ActionLink("Discover", "Discover", "Home")
                                </li>
                                <li class="current">
                                    @Html.ActionLink("Contact", "Contact","Contact")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="contains-sub-menu">WizFeed</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("WizFeed", "Blog", "Blog")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="contains-sub-menu">Marketplace</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Marketplace", "Marketplace", "Market")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="contains-sub-menu">Signup</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Signup", "Signup", "Signup")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="contains-sub-menu">Login</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Login", "Login", "Login")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="side-navigation-footer center">
                    <p class="copyright no-margin-bottom">&copy; @DateTime.Now.Year CareerWiz.</p>
                </div>
            </div>
        </div>
    </aside>
    <!-- Side Navigation Menu End -->
    <div class="wrapper">
        <div class="wrapper-inner">
            <!-- Header -->
            <header class="header with-shadow header-absolute header-fixed-on-mobile header-transparent" data-helper-in-threshold="300" data-helper-out-threshold="500" data-sticky-threshold="300" data-bkg-threshold="300" data-compact-threshold="300">
                <div class="header-inner">
                    <div class="row nav-bar">
                        <div class="column width-12 nav-bar-inner">
                            <div class="logo">
                                <div class="logo-inner">
                                    <a href="@Url.Action("Home", "Index")"><img src="~/Content/assets/images/CareerWiz-Logo-sml.png" alt="CareerWiz Logo" /></a>
                                    <a href="@Url.Action("Home", "Index")"><img src="~/Content/assets/images/Landscape-Format-White-03.png" alt="CareerWiz Logo" /></a>
                                </div>
                            </div>
                            <nav class="navigation nav-block secondary-navigation nav-right">
                                <ul>
                                    <li class="aux-navigation">
                                        <!-- Aux Navigation -->
                                        <a href="#" class="navigation-show side-nav-show nav-icon">
                                            <span class="icon-menu"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <nav class="navigation nav-block primary-navigation nav-center">
                                <ul>
                                    <li>
                                        <a href="#home" data-offset="-60" class="scroll-link">Home</a>
                                    </li>
                                    <li>
                                        <a href="#about" data-offset="-60" class="scroll-link">About</a>
                                    </li>
                                    <li>
                                        <a href="#services" data-offset="-60" class="scroll-link">Wizard Process</a>
                                    </li>
                                    <li>
                                        <a href="#pricing" data-offset="-60" class="scroll-link">Pricing</a>
                                    </li>
                                    <li>
                                        <a href="#create-account" data-offset="-60" class="scroll-link">Sign Up</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header End -->
            <!-- Content -->
            <section id="home" class="section-block featured-media window-height tm-slider-parallax-container">
                <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="500">
                </div>
                @RenderSection("featured", required: false)
                @RenderBody()
                <div class="clearfix"></div>
            </section>
            <!-- Full Width Slider Section -->
            <!-- Basic Feature Columns -->
            <div id="about" class="section-block bkg-grey-ultralight">
                <div class="row flex">
                    <div class="column width-12 left">
                        <h3 class="mb-30">About Us</h3>
                        <p class="lead weight-regular mb-60">CareerWiz is an online mobile and web based application created to guide students through their academic journey from a career perspective, helping these scholars realise the most fruitful and successful careers post their academic education.</p>
                    </div>
                    <div class="column width-10 offset-1">
                        <div class="row flex">
                            <div class="column width-4">
                                <div class="feature-column medium left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:400ms;" data-threshold="1">
                                    <span class="feature-icon fa-icon-dot-circle-o color-theme pu-10"></span>
                                    <div class="feature-text">
                                        <h6>Our Vision</h6>
                                        <p>To be the largest and most utilised online career guidance platform on the African continent.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-4">
                                <div class="feature-column medium left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
                                    <span class="feature-icon icon-star color-theme pu-10"></span>
                                    <div class="feature-text">
                                        <h6>Our Mission</h6>
                                        <p>To facilitate for easy accessibility to opportunities and career information for all students across Africa.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column width-4">
                                <div class="feature-column medium left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="1">
                                    <span class="feature-icon fa-icon-crosshairs color-theme pu-10"></span>
                                    <div class="feature-text">
                                        <h6>Our Aim</h6>
                                        <p>Our aim is to facilitate the link between students and opportunity providers and the opportunities they have on offer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="services" class="section-block hero-5 hero-5-about-2 right window-height show-media-column-on-mobile">
                <div class="media-column width-4"></div>
                <div class="row">
                    <div class="column width-7">
                        <div class="hero-content split-hero-content">
                            <div class="hero-content-inner left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="0.6">
                                <h3 class="mb-30">Our Wizard Process</h3>                                
                                <div class="row flex mb-40">
                                    <div class="column width-12">
                                        <fieldset style="border:2px solid #cddb29">
                                            <legend class="fieldsetLegend">Know Yourself</legend>
                                            <div class="column width-6">
                                                <p class="fieldsetHeaders">Know Yourself Kit</p>
                                                <p class="fieldsetText">A string of questions which will help the learner reflect and introspectively assess their character and personality.</p>
                                            </div>
                                            <div class="column width-6">
                                                <p class="fieldsetHeaders">Personality Type Tool</p>
                                                <p class="fieldsetText">A strategically and well packaged activity which will assist the learner identify which personality category they fall under.</p>
                                            </div>
                                            <div class="column width-6">
                                                <p class="fieldsetHeaders">Career Type Tool</p>
                                                <p class="fieldsetText">An instrument which will assist the learner in navigating to which career field they should most likely penetrate.</p>
                                            </div>
                                            <div class="column width-6">
                                                <p class="fieldsetHeaders">Course Chooser</p>
                                                <p class="fieldsetText">A tool that will rope together subject choice information, marks and personality information to point the learner in the direction of their best suited qualification.</p>
                                            </div>
                                        </fieldset>
                                        <br />
                                        <br />
                                        <fieldset style="border:2px solid #cddb29">
                                            <legend class="fieldsetLegend">Career Information</legend>
                                            <div class="column width-6">
                                                <p class="fieldsetText">We aim to provide learners with imperative and rapidly changing industry information at their fingertips, on the go, readily and easily accessible. This industry information will be sensitive to all career fields in the country, and touch on topics like:</p>
                                            </div>
                                            <div class="column width-6">
                                                <p class="fieldsetText">
                                                    <ul class="fieldsetText">
                                                        <li>Current market demand</li>
                                                        <li>Remuneration</li>
                                                        <li>Pro’s & con’s</li>
                                                        <li>Personality traits and qualities</li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </fieldset>
                                        <br />
                                        <br />
                                        <fieldset style="border:2px solid #cddb29">
                                            <legend class="fieldsetLegend">Opportunities</legend>
                                            <div class="column width-12">
                                                <p class="fieldsetText">We aim to create a channel for direct accessibility to as many opportunity providers, offering any opportunity in the country. Whether it be a bursary, scholarship, internship or graduate recruitment program. This information will not be dormant, opportunities passed their deadline will automatically be thrown out by the system, leaving only those still valid and open. These opportunities will be updated and closely monitored ensuring absolute value for the learner.</p>
                                            </div>
                                        </fieldset>
                                        <br />
                                        <br />
                                        <fieldset style="border:2px solid #cddb29">
                                            <legend class="fieldsetLegend">Get Connected</legend>
                                            <div class="column width-12">
                                                <p class="fieldsetText">Our ultimate objective is to connect learners, not only to life changing career information, but to early employment and funding opportunities alike. We view the last step to the holistic guidance process as playing an active roll in linking learners to opportunities.</p>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <a href="#" class="button rounded medium bkg-theme bkg-hover-green color-white color-hover-white">Start your career today!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero 5 Signup Custom Section End -->
            <!-- Pricing -->
            <div id="pricing">
                <!-- Pricing Table Cards -->
                <div class="section-block bkg-grey-ultralight">
                    <div class="row flex">
                        <div class="column width-12">
                            <h3 class="mb-50">Our Guidance Process</h3>
                        </div>
                        <div class="column width-3 v-align-middle">
                            <div class="row flex">
                                <div class="column width-12 mb-20">
                                    <span class="feature-icon fa-icon-stack-1x color-theme pu-10"></span>
                                    <div class="feature-text" style="border-left: 2px solid #cbd929; padding-left: 20px; margin-top: 20px; padding-top: 20px; padding-bottom: 5px;">
                                        <h5 class="mb-5 weight-light">Create and Finish</h5>
                                        <h5 class="mb-20 weight-bold">a profile.</h5>
                                    </div>
                                    <div class="feature-text" style="border-left: 2px solid #cbd929; padding-left: 20px; margin-top: 20px; padding-top: 20px; padding-bottom: 5px;">
                                        <h5 class="mb-5 weight-light">Discover a World</h5>
                                        <h5 class="mb-20 weight-bold">of information.</h5>
                                    </div>
                                    <div class="feature-text" style="border-left: 2px solid #cbd929; padding-left: 20px; margin-top: 20px; padding-top: 20px; padding-bottom: 5px;">
                                        <h5 class="mb-5 weight-light">Get</h5>
                                        <h5 class="mb-20 weight-bold">connected.</h5>
                                    </div>
                                    <div class="feature-text" style="border-left: 2px solid #cbd929; padding-left: 20px; margin-top: 20px; padding-top: 20px; padding-bottom: 5px;">
                                        <h5 class="mb-5 weight-light">Find</h5>
                                        <h5 class="mb-20 weight-bold">opportunities.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column width-4 v-align-middle">
                            <div class="pricing-table rounded xlarge style-2 columns-1 mb-0 mb-mobile-50">
                                <div class="pricing-table-column bkg-white">
                                    <div class="pricing-table-header color-theme">
                                        <h2 class="weight-bold">Standard</h2>
                                    </div>
                                    <div class="pricing-table-price color-theme">
                                        <h4>
                                            <span class="currency"></span>FREE
                                            <span class="interval">-</span>
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="pricing-table-text">
                                        <p>We offer a standard version which is completely free of charge, sign-up now.</p>
                                    </div>
                                    <div class="pricing-table-footer">
                                        <a href="#" class="button rounded bkg-theme bkg-hover-green color-white color-hover-white mb-mobile-40">Select Option</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column width-4 v-align-middle">
                            <div class="pricing-table rounded xlarge style-2 columns-1 mb-0 mb-mobile-50">
                                <div class="pricing-table-column bkg-white">
                                    <div class="pricing-table-header color-theme">
                                        <h2 class="weight-bold">Premium</h2>
                                    </div>
                                    <div class="pricing-table-price color-theme">
                                        <h4>
                                            <span class="currency">R</span>69.00
                                            <span class="interval">per annum</span>
                                        </h4>
                                    </div>
                                    <hr>
                                    <div class="pricing-table-text">
                                        <p>Access full platform + advanced tools and kits.</p>
                                    </div>
                                    <div class="pricing-table-footer">
                                        <a href="#" class="button rounded bkg-theme bkg-hover-green color-white color-hover-white mb-mobile-40">Select Option</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Pricing Table Cards End -->
                <!-- Hero 2 Section -->
                <div class="section-block hero-2 hero-2-startup-1">
                    <div class="row full-width collapse">
                        <div class="column width-12">
                            <div class="hero-content">
                                <div class="hero-content-inner center">
                                    <div class="tm-slider-container testimonial-slider">
                                        <ul class="tms-slides">
                                            <li class="tms-slide" data-image>
                                                <div class="tms-content-scalable">
                                                    <div class="row full-width no-margins">
                                                        <div class="column width-8 offset-2">
                                                            <blockquote class="large_text center">
                                                                <p style="text-transform:uppercase;">
                                                                    A Step in the <span style="text-decoration:underline">right</span> direction.
                                                                    <cite>Careerwiz.</cite>
                                                                </p>
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero 2 Section End -->
            </div>
            <!-- Pricing End -->
            <!-- Form Style Default -->
            <section id="create-account" class="section-block signup-1">
                <div class="row">
                    <div class="column width-6 offset-3 center">
                        <h3 class="mb-50">Sign Up Now For Free</h3>
                    </div>
                    <div class="column width-12">
                        <div class="create-account-form-container create-account horizontal">
                            <form class="create-account-form" action="#" method="post" novalidate>
                                <div class="row">
                                    <div class="column width-3">
                                        <div class="field-wrapper">
                                            <label>Email:</label>
                                            <input type="email" name="email" class="form-email form-element rounded large" placeholder="email@yoursite.com" tabindex="1" required>
                                        </div>
                                    </div>
                                    <div class="column width-3">
                                        <div class="field-wrapper">
                                            <label>Password:</label>
                                            <input type="password" name="password" class="form-password form-element rounded large" placeholder="••••••••" tabindex="2" required>
                                        </div>
                                    </div>
                                    <div class="column width-3">
                                        <div class="field-wrapper">
                                            <label>Confirmation:</label>
                                            <input type="password" name="password" class="form-password form-element rounded large" placeholder="••••••••" tabindex="3" required>
                                        </div>
                                    </div>
                                    <div class="column width-3">
                                        <input type="submit" value="Create Now" class="form-submit full-width button rounded large bkg-green bkg-hover-theme color-white color-hover-white">
                                    </div>
                                </div>
                                <input type="text" name="honeypot" class="form-honeypot form-element">
                            </form>
                            <div class="form-response show"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Form Style Default End -->
        </div>
        <!-- Content End -->
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-top two-columns-on-tablet">
                <div class="row flex">
                    <div class="column width-4">
                        <div class="widget">
                            <h4 class="widget-title">Career Wiz</h4>
                            <img src="~/Content/assets/images/CareerWiz-Logo.png" />
                        </div>
                    </div>

                    <div class="column width-3 offset-2">
                        <div class="widget">
                            <h4 class="widget-title">More Links</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("About", "Home")">About the company</a>
                                </li>
                                <li>
                                    <a href="#">Company Affiliations and Partners</a>
                                </li>
                                <li>
                                    <a href="#">Opportunities</a>
                                </li>
                                <li>
                                    <a href="#">Worshops</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact", "Contact")">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column width-3">
                        <div class="widget">
                            <h4 class="widget-title">Contact Us</h4>
                            <address>
                                UNIT E09, 10 VAN BEEK STREET,<br />
                                MABONENG, JOHANNESBURG
                            </address>
                            <p>
                                Tel: (+27) 61 449 3669<br>
                                Email: <a href="mailto:hello@careerwiz.co.za">hello@careerwiz.co.za</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="column width-12">
                        <div class="footer-bottom-inner">
                            <p class="copyright pull-left clear-float-on-mobile">&copy; CareerWiz. All Rights Reserved. <a href="#" class="scroll-to-top" data-no-hide>Back Top</a></p>
                            <ul class="social-list list-horizontal pull-right clear-float-on-mobile left">
                                <li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
                                <li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
                                <li><a href="#"><span class="icon-google-with-circle medium"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->
    @*</div>*@

    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
    <script src="~/Content/assets/js/timber.master.min.js"></script>

</body>
</html>
