﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">

    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Career Wiz" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="~/Content/assets/images/favicon.png" />
    <meta property="og:description" content="" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/favicon.png">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400|Playfair+Display:400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="~/Content/assets/css/timber.css" rel="stylesheet" />
    <link href="~/Content/assets/css/avalanche.css" rel="stylesheet" />
    <link href="~/Content/assets/css/core.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/horizon.css" rel="stylesheet" />
    <link href="~/Content/assets/css/skin.css" rel="stylesheet" />
    <link href="~/Content/assets/css/snowbridge.css" rel="stylesheet" />
    <link href="~/Content/assets/css/summit.css" rel="stylesheet" />
    <link href="~/Content/assets/css/templates.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")*@
    @*@Styles.Render("~/Content/assets/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="~/Slider/revolution/fonts/font-awesome/css/font-awesome.css">

    <!-- LOADING FONTS AND ICONS -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat%3A700" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/Slider/revolution/css/settings.css">

    <!-- REVOLUTION LAYERS STYLES -->
    <style type="text/css">
        .tiny_bullet_slider .tp-bullet:before {
            content: " ";
            position: absolute;
            width: 100%;
            height: 25px;
            top: -12px;
            left: 0px;
            background: transparent;
        }
    </style>
    <style type="text/css">
        #rev_slider_26_1 .uranus.tparrows {
            width: 50px;
            height: 50px;
            background: rgba(255,255,255,0);
        }

            #rev_slider_26_1 .uranus.tparrows:before {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 40px;
                transition: all 0.3s;
                -webkit-transition: all 0.3s;
            }

            #rev_slider_26_1 .uranus.tparrows:hover:before {
                opacity: 0.75;
            }

        .bullet-bar.tp-bullets {
        }

            .bullet-bar.tp-bullets:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparent;
                padding: 10px;
                margin-left: -10px;
                margin-top: -10px;
                box-sizing: content-box;
            }

        .bullet-bar .tp-bullet {
            width: 60px;
            height: 3px;
            position: absolute;
            background: #aaa;
            background: rgba(204,204,204,0.5);
            cursor: pointer;
            box-sizing: content-box;
        }

            .bullet-bar .tp-bullet:hover, .bullet-bar .tp-bullet.selected {
                background: rgba(204,204,204,1);
            }

        .bullet-bar .tp-bullet-image {
        }

        .bullet-bar .tp-bullet-title {
        }
    </style>

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="~/Slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLICEY ADD-ON FILES -->
    <script type='text/javascript' src='revolution-addons/slicey/js/revolution.addon.slicey.min.js?ver=1.0.0'></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
</head>

<body class="shop home-page">
        <!-- Side Navigation Menu -->
    <aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="scale-in">
        <div class="side-navigation-scroll-pane">
            <div class="side-navigation-inner">
                <div class="side-navigation-header">
                    <div class="navigation-hide side-nav-hide">
                        <a href="#">
                            <span class="icon-cancel medium"></span>
                        </a>
                    </div>
                </div>
                <nav class="side-navigation center">
                    <ul>
                        <li class="current">
                            <a href="#" class="contains-sub-menu">Menu</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li class="current">
                                    @Html.ActionLink("About", "About", "Home")
                                </li>
                                <li class="current">
                                    @Html.ActionLink("Discover", "Discover", "Home")
                                </li>
                                <li class="current">
                                    @Html.ActionLink("Contact", "Contact", "Contact")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="contains-sub-menu">WizFeed</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("WizFeed", "Blog", "Blog")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="contains-sub-menu">Marketplace</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Marketplace", "Marketplace", "Market")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="contains-sub-menu">Signup</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Signup", "Signup", "Signup")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#" class="contains-sub-menu">Login</a>
                            <ul class="sub-menu">
                                <li>
                                    @Html.ActionLink("Login", "Login", "Login")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="side-navigation-footer center">
                    <p class="copyright no-margin-bottom">&copy; @DateTime.Now.Year CareerWiz.</p>
                </div>
            </div>
        </div>
    </aside>
    <!-- Side Navigation Menu End -->
    <div class="wrapper">
        <div class="wrapper-inner">
            <!-- Header -->
            <header class="header with-shadow header-absolute header-fixed-on-mobile header-transparent" data-helper-in-threshold="300" data-helper-out-threshold="500" data-sticky-threshold="300" data-bkg-threshold="300" data-compact-threshold="300">
                <div class="header-inner">
                    <div class="row nav-bar">
                        <div class="column width-12 nav-bar-inner">
                            <div class="logo">
                                <div class="logo-inner">
                                    <a href="@Url.Action("Home", "Index")"><img src="~/Content/assets/images/CareerWiz-Logo-sml.png" alt="CareerWiz Logo" /></a>
                                    <a href="@Url.Action("Home", "Index")"><img src="~/Content/assets/images/Landscape-Format-White-03.png" alt="CareerWiz Logo" /></a>
                                </div>
                            </div>
                            <nav class="navigation nav-block secondary-navigation nav-right">
                                <ul>
                                    <li class="aux-navigation">
                                        <!-- Aux Navigation -->
                                        <a href="#" class="navigation-show side-nav-show nav-icon">
                                            <span class="icon-menu"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header End -->
            <!-- Content -->
                @RenderBody()
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-top two-columns-on-tablet">
            <div class="row flex">
                <div class="column width-4">
                    <div class="widget">
                        <h4 class="widget-title">Career Wiz</h4>
                        <img src="~/Content/assets/images/CareerWiz-Logo.png" />
                    </div>
                </div>

                <div class="column width-3 offset-2">
                    <div class="widget">
                        <h4 class="widget-title">More Links</h4>
                        <ul>
                            <li>
                                <a href="@Url.Action("About", "Home")">About the company</a>
                            </li>
                            <li>
                                <a href="#">Company Affiliations and Partners</a>
                            </li>
                            <li>
                                <a href="#">Opportunities</a>
                            </li>
                            <li>
                                <a href="#">Worshops</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Contact")">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column width-3">
                    <div class="widget">
                        <h4 class="widget-title">Contact Us</h4>
                        <address>
                            UNIT E09, 10 VAN BEEK STREET,<br />
                            MABONENG, JOHANNESBURG
                        </address>
                        <p>
                            Tel: (+27) 61 449 3669<br>
                            Email: <a href="mailto:hello@careerwiz.co.za">hello@careerwiz.co.za</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="column width-12">
                    <div class="footer-bottom-inner">
                        <p class="copyright pull-left clear-float-on-mobile">&copy; CareerWiz. All Rights Reserved. <a href="#" class="scroll-to-top" data-no-hide>Back Top</a></p>
                        <ul class="social-list list-horizontal pull-right clear-float-on-mobile left">
                            <li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
                            <li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
                            <li><a href="#"><span class="icon-google-with-circle medium"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    </div>

    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
    <script src="~/Content/assets/js/timber.master.min.js"></script>

</body>
</html>
