﻿@model CareerWiz.Models.clsCareers

@{
    ViewBag.Title = "Institutions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Career Options</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Content -->
    <div class="content clearfix">

        <!-- Intro Title Section 2 -->
        <div class="section-block intro-title-1 small bkg-grey-ultralight">
            <div class="row">
                <div class="column width-12">
                    <div class="title-container">
                        <div class="title-container-inner">
                            <h1 class="title-large mb-0">Career<span style="color:#ccdb2a"> Options.</span></h1>
                            <h4 class="color-grey-light">All the career information you need, right here!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-block pb-90">
            <div class="section-block pb-20">
                <div class="row">
                    <div class="column width-4">
                        <h2 class="mb-50">Step 2:</h2>
                    </div>
                    <div class="column width-8">
                        <p class="lead weight-regular mb-90 mb-mobile-70 pu-10">Now that you've selected the industry you're interested in, simply select a career and get up to speed with all the latest requirements</p>
                        <div class="form-select form-element rounded large">
                            @Html.DropDownList("ddlCareers", Model.lstCareerList, "--- Please Select The Career ---", new { @class = "form-aux", @onchange= "dropDownValueChange();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
</body>
</html>
<script>
    function dropDownValueChange() {
        var iSelectedID = $('#ddlCareers').val();
        $.ajax({
            url: "@Url.Action("getCareerExpectations", "Market")",
            data: { iCareerID: iSelectedID },
            cache: false,
            type: "POST",
            success: function (data) {
                    window.location.href = "/Market/Career_Expectations";
            }
        });
    };
</script>
