﻿@model CareerWiz.Models.clsCareers

@{
    ViewBag.Title = "Institutions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Career Options</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Content -->
    <div class="content clearfix">

        <!-- Intro Title Section 2 -->
        <div class="section-block intro-title-1 small bkg-grey-ultralight">
            <div class="row">
                <div class="column width-12">
                    <div class="title-container">
                        <div class="title-container-inner">
                            <h1 class="title-large mb-30">@Model.strTitle.ToUpper()</h1>
                            <p class="color-grey">@Model.strDescription</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-block pb-90">
            <div class="section-block section-overlap replicable-content bkg-grey-ultralight">
                <div class="row flex boxes">
                    <div class="column width-4">
                        <div class="feature-column box rounded large bkg-white">
                            <span class="title-large font-alt-1 opacity-02">01</span>
                            <h4 class="mb-30">Expectations</h4>
                            <p>@Model.strExpectations</p>
                        </div>
                    </div>
                    <div class="column width-4">
                        <div class="feature-column box rounded large bkg-white">
                            <span class="title-large font-alt-1 opacity-02">02</span>
                            <h4 class="mb-30">Skills</h4>
                            <p>@Model.strRequiredSkills</p>
                        </div>
                    </div>
                    <div class="column width-4">
                        <div class="feature-column box rounded large" style="background:#ccdb2a !important;border:#ccdb2a !important">
                            <span class="title-large font-alt-1" style="color:#ffffff;">03</span>
                            <h4 class="mb-30">Average Salary</h4>
                            <p style="color:#333">@Model.strAverageSalary</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
</body>
</html>
