﻿
@{
    ViewBag.Title = "Institutions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Career Options</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <div class="section-block intro-title-2-3 small mb-50">
        <div class="media-overlay bkg-black opacity-02"></div>
        <div class="row">
            <div class="column width-10 offset-1 center">
                <div class="title-container">
                    <div class="title-container-inner color-white">
                        <h1 class="title-large mb-30 mt-30">Institutions.</h1>
                        <p class="small">Find everything you need, right here!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex">
        <div class="column width-4">
            <h3 class="mb-50">Filter By</h3>
        </div>
        <div class="column width-8">
            <div class="contact-form-container">
                <form class="contact-form" action="php/send-email.php" method="post" novalidate="">
                    <div class="row">
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="radio-1" class="form-element radio" name="radio-group" type="radio" value="1">
                                <label for="radio-1" class="radio-label">Industry</label>
                                <input id="radio-2" class="form-element radio" name="radio-group" type="radio" value="2">
                                <label for="radio-2" class="radio-label">FET</label>
                                <input id="radio-3" class="form-element radio" name="radio-group" type="radio" value="3">
                                <label for="radio-3" class="radio-label">PVT College</label>
                                <input id="radio-4" class="form-element radio" name="radio-group" type="radio" value="4">
                                <label for="radio-4" class="radio-label">University</label>
                                <input id="radio-5" class="form-element radio" name="radio-group" type="radio" value="5">
                                <label for="radio-5" class="radio-label">Technicon</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-response"></div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $('input:radio[name="radio-group"]').change(function () {
        if ($(this).val() == '1') {
            SetCookie('hdnPreference', '5', 1);
            alert();
            $.ajax({
                url: "@Url.Action("Test", "Market")",
                data: {iPreferenceID : 5},
            cache: false,
            type: "POST",
            success: function (data) {
                window.location.href = "/Market/Institutions";
            }
        });
        } else if ($(this).val() == '2') {
            SetCookie('hdnPreference', '2', 1);
            $.ajax({
                url: "@Url.Action("Test", "Market")",
                data: {iPreferenceID : 2},
            cache: false,
            type: "POST",
            success: function (data) {
                window.location.href = "/Market/Institutions";
            }
        });
        } else if ($(this).val() == '3') {
            alert(3);
        } else if ($(this).val() == '4') {
            alert(4);
        } else {
            alert(5);
        }

    });
</script>
<script>
        function SetCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }
    </script>
    <script>
        function delete_cookie(name) {
            document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    </script>