﻿@using PagedList.Mvc
@model PagedList.IPagedList<CareerWiz.Models.clsInstitutions>

@{
    ViewBag.Title = "Institutions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Your-Title-Here" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Your-Image-Url" />
    <meta property="og:description" content="Your-Page-Description" />
    <title>Kant | Multipurpose HTML5 Template - Project Style Three</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        .ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.pagination li {
            display: inline;
        }

            ul.pagination li a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
            }

                ul.pagination li a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                ul.pagination li a:hover:not(.active) {
                    background-color: #ddd;
                }

        h4 {
            margin: 15px !important;
        }

        td {
            padding: 15px;
        }

        .row.tablerow {
    max-width: 90%;
}
    </style>
</head>
<body>
    <div class="section-block intro-title-2-3 small mb-50">
        <div class="media-overlay bkg-black opacity-02"></div>
        <div class="row">
            <div class="column width-10 offset-1 center">
                <div class="title-container">
                    <div class="title-container-inner color-white">
                        <h1 class="title-large mb-30 mt-30">Institutions.</h1>
                        <p class="small">Find everything you need, right here!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="block-design" class="section-block feature-2 mb-50">
        <div class="row">
            @using (Html.BeginForm())
            {
                    <div>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <section id="block-design" class="section-block feature-2 mb-50">
                                    <div class="row flex">
                                        <div class="column width-6 push-6">
                                            <div class="feature-image mb-mobile-50">
                                                <div class="feature-image-inner center-on-mobile">
                                                    <img src="../Content/assets/images/wits-logo.png" width="300" height="150" alt="Wharhol HTML Layouts Purpose Built Content Blocks" title="Wharhol HTML Layouts Purpose Built Content Blocks">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column width-5 pull-6 pull-1">
                                            <div class="feature-content">
                                                <div class="feature-content-inner center-on-mobile">
                                                    <h3 class="mb-10">@Model[i].strTitle.ToUpper()</h3>
                                                    <h6>@Model[i].strDescriptionOverview</h6>
                                                    <div class="accordion style-2">
                                                        <ul>
                                                            <li class="">
                                                                <a href="#accordion-4-panel-1"><span class="icon-check"></span>BIO</a>
                                                                <div id="accordion-4-panel-1" class="" style="height: 0px;">
                                                                    <div class="accordion-content">
                                                                        <p>@Model[i].strDescription</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="active">
                                                                <a href="#accordion-4-panel-2"><span class="icon-check"></span>Courses Offered</a>
                                                                <div id="accordion-4-panel-2" style="height: auto;" class="no-transition">
                                                                    <div class="accordion-content">
                                                                        <p>Wits University has 5 faculties encompassing the Sciences, Commerce, Law, Management, Engineering, Health Sciences and Humanities with 33 schools offering over 3000 courses.</p>
                                                                        <ul class="disc no-margins">
                                                                            <li>Commerce, Law and Management</li>
                                                                            <li>Engineering and the Built Environment</li>
                                                                            <li>Health Sciences</li>
                                                                            <li>Humanities</li>
                                                                            <li>Science</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            }
                    </div>
                <div id="container" style="margin-left: 20px">
                    <p></p>
                    <p></p>
                    <div class="pagination" style="margin-left: 400px">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Institutions", new { page }))
                    </div>
                </div>

            }
            @*<div class="column width-6 push-6">
                    <div class="feature-image mb-mobile-50">
                        <div class="feature-image-inner center-on-mobile">
                            <img src="../Content/assets/images/wits-logo.png" width="300" height="150" alt="Wharhol HTML Layouts Purpose Built Content Blocks" title="Wharhol HTML Layouts Purpose Built Content Blocks">
                        </div>
                    </div>
                </div>*@
            @*<div class="column width-5 pull-6 pull-1">
                    <div class="feature-content">
                        <div class="feature-content-inner center-on-mobile">
                            <h3>WITS University</h3>
                            <div class="accordion style-2">
                                <ul>
                                    <li class="active">
                                        <a href="#accordion-4-panel-1"><span class="icon-check"></span>BIO</a>
                                        <div id="accordion-4-panel-1" class="no-transition" style="height: auto;">
                                            <div class="accordion-content">
                                                <p>Wits is a remarkable university that is internationally distinguished for its excellent research, high academic standards and commitment to social justice. Our partners, networks and relationships serve as catalysts for the great ideas that help us to make the impossible, incredible. We invite you to join us on our extraordinary journey to effect meaningful change in society and pave the way for a bright future for generations to come.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <a href="#accordion-4-panel-2"><span class="icon-check"></span>Courses Offered</a>
                                        <div id="accordion-4-panel-2" style="height: 0px;" class="">
                                            <div class="accordion-content">
                                                <p>Wits University has 5 faculties encompassing the Sciences, Commerce, Law, Management, Engineering, Health Sciences and Humanities with 33 schools offering over 3000 courses.</p>
                                                <ul class="disc no-margins">
                                                    <li>Commerce, Law and Management</li>
                                                    <li>Engineering and the Built Environment</li>
                                                    <li>Health Sciences</li>
                                                    <li>Humanities</li>
                                                    <li>Science</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </section>
</body>
</html>
@*<script>
    $('input:radio[name="radio-group"]').change(function () {
        if ($(this).val() == '1') {
            SetCookie('hdnPreference', '5', 1);
            $("hdnPreference").val(5);
            $.ajax({
                url: "@Url.Action("Institutions", "Market")",
                data: {iPreferenceID : 5},
            cache: false,
            type: "POST",
            success: function (data) {
                delete_cookie('hdnPreference');
            }
        });
        } else if ($(this).val() == '2') {
            SetCookie('hdnPreference', '2', 1);
            $("hdnPreference").val(2);
            $.ajax({
                url: "@Url.Action("Institutions", "Market")",
                data: { iPreferenceID: 2},
            cache: false,
            type: "POST",
            success: function (data) {
                delete_cookie('hdnPreference');
            }
        });
        } else if ($(this).val() == '3') {
            alert(3);
        } else if ($(this).val() == '4') {
            alert(4);
        } else {
            alert(5);
        }

    });
</script>*@
@*<script>
    function SetCookie(name, value, days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
        }
        else var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
    }
</script>
<script>
    function delete_cookie(name) {
        document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
</script>*@
