﻿
@{
    ViewBag.Title = "Marketplace";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Your-Title-Here" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Your-Image-Url" />
    <meta property="og:description" content="Your-Page-Description" />
    <title>Kant | Multipurpose HTML5 Template - Project Style Three</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Content -->
    <div class="content clearfix">

        <!-- Intro Title Section 2 -->
        <div class="section-block intro-title-1 small bkg-grey-ultralight">
            <div class="row">
                <div class="column width-12">
                    <div class="title-container">
                        <div class="title-container-inner">
                            <h1 class="title-large mb-0">CareerWiz <span style="color:#ccdb2a">Marketplace.</span></h1>
                            <h4 class="color-grey-light">Industry Information | Opportunities | Institution Content</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Intro Title Section 2 End -->
        <div class="section-block team-4 mb-100">
            <div class="row">
                <div class="column width-12">
                    <div class="row content-grid-3">
                        <div class="grid-item">
                            <div class="team-content-info mb-mobile-50">
                                <h4 class="mb-10">Institutions</h4>
                                <h6 class="occupation">Institution Content</h6>
                                <p>The institutions portal has been designed to counter this, making the search for the next step in one’s academic career as simple as possible.</p>
                            </div>
                            <div class="thumbnail mb-mobile-50" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.01">
                                <div class="overlay-link">
                                    <a href="Institution_Preference"><img src="../Content/assets/images/institutions.jpg" width="760" height="760" alt="" style="transition-duration: 500ms;"></a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="team-content-info mb-mobile-50">
                                <h4 class="mb-10">Market Information</h4>
                                <h6 class="occupation">Industry Information</h6>
                                <p>We aim to provide learners with imperative and rapidly changing industry information at their fingertips, on the go, readily and easily accessible.</p>
                            </div>
                            <div class="thumbnail mb-mobile-50" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.01">
                                <div class="overlay-link">
                                    <a href="Market_information"><img src="../Content/assets/images/market-information.jpg" width="760" height="760" alt="" style="transition-duration: 500ms;"></a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="team-content-info mb-mobile-50">
                                <h4 class="mb-10">Opportunities</h4>
                                <h6 class="occupation">Entry level jobs &amp; Funding</h6>
                                <p>We aim to create a channel for direct accessibility to as many opportunity providers, offering any opportunity in the country.</p>
                            </div>
                            <div class="thumbnail mb-mobile-0" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.01">
                                <div class="overlay-link">
                                    <a href="Opportunities"><img src="../Content/assets/images/opportunities.jpg" width="760" height="760" alt="" style="transition-duration: 500ms;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->

</body>
</html>
