﻿@model CareerWiz.Models.clsIndustrySectors

@{
    ViewBag.Title = "Institutions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Market information</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Content -->
    <div class="content clearfix">

        <!-- Intro Title Section 2 -->
        <div class="section-block intro-title-1 small bkg-grey-ultralight">
            <div class="row">
                <div class="column width-12">
                    <div class="title-container">
                        <div class="title-container-inner">
                            <h1 class="title-large mb-0">Market<span style="color:#ccdb2a"> Information.</span></h1>
                            <h4 class="color-grey-light">All the career information you need, right here!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-block pb-90">
            <div class="section-block pb-20">
                <div class="row">
                    <div class="column width-4">
                        <h2 class="mb-50">Step 1:</h2>
                    </div>
                    <div class="column width-8">
                        <p class="lead weight-regular mb-90 mb-mobile-70 pu-10">Simply select the industry you're interested in from the list below to get all of the careers listed, you can now see the exact requirements for each individual field as well as what to expect on a daily basis in the given work environment!</p>
                        <div class="form-select form-element rounded large">
                            @Html.DropDownList("ddlIndustrySector", Model.lstIndustryList, "--- Please Select The Industry ---", new { @class = "form-aux", @onchange = "dropDownValueChange();" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
</body>
</html>
<script>
    function dropDownValueChange() {
        var iSelectedID = $('#ddlIndustrySector').val();
        $.ajax({
            url: "@Url.Action("CareerInfo", "Market")",
            data: { iIndustrySectorID: iSelectedID },
            cache: false,
            type: "POST",
            success: function (data) {
                    window.location.href = "/Market/Career_Options";
            }
        });
    };
</script>
