﻿@{
    ViewBag.Title = "Opportunities";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Your-Title-Here" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Your-Image-Url" />
    <meta property="og:description" content="Your-Page-Description" />
    <title>Kant | Multipurpose HTML5 Template - Project Style Three</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="section-block intro-title-2-4 small mb-50">
        <div class="media-overlay bkg-black opacity-02"></div>
        <div class="row">
            <div class="column width-10 offset-1 center">
                <div class="title-container">
                    <div class="title-container-inner color-white">
                        <h1 class="title-large mb-30 mt-30">Opportunities.</h1>
                        <p class="small">Get your foot in the door today!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex">
        <div class="column width-12 left">
            <p class="lead weight-regular mb-60">We aim to create a channel for direct accessibility to as many opportunity providers, offering any opportunity in the country. Whether it be a bursary, scholarship, internship or graduate recruitment program. This information will not be dormant, opportunities passed their deadline will automatically be thrown out by the system, leaving only those still valid and open. These opportunities will be updated and closely monitored ensuring absolute value for the learner.</p>
        </div>
    </div>
    <div class="row flex">
        <div class="column width-4">
            <h3 class="mb-50">Filter By</h3>
        </div>
        <div class="column width-8">
            <div class="contact-form-container">
                <form class="contact-form" action="php/send-email.php" method="post" novalidate="">
                    <div class="row">
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="radio-1" class="form-element radio" name="radio-group" checked="" type="radio">
                                <label for="radio-1" class="radio-label">Funding</label>
                                <input id="radio-2" class="form-element radio" name="radio-group" type="radio">
                                <label for="radio-2" class="radio-label">Part-Time Jobs</label>
                                <input id="radio-3" class="form-element radio" name="radio-group" type="radio">
                                <label for="radio-3" class="radio-label">Entry Level Jobs</label>
                                <input id="radio-5" class="form-element radio" name="radio-group" type="radio">
                                <label for="radio-5" class="radio-label">Apprenticeship/Learnership</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-response"></div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="column width-12">
            <div class="create-account-form-container create-account horizontal">
                <form class="create-account-form" action="#" method="post" novalidate="">
                    <div class="row">
                        <div class="column width-8">
                            <div class="field-wrapper">
                                <label>Search opportunities</label>
                                <input name="email" class="form-email form-element rounded large" placeholder="Search..." tabindex="1" required="" type="email">
                            </div>
                        </div>
                        <div class="column width-4">
                            <input value="Search" class="form-submit full-width button rounded large bkg-green bkg-hover-theme color-white color-hover-white" type="submit">
                        </div>
                    </div>
                    <input name="honeypot" class="form-honeypot form-element" type="text">
                </form>
                <div class="form-response show"></div>
            </div>
        </div>
    </div>
</body>
</html>

