﻿@model CareerWizCMS.View_Models.CMSUsers.clsCMSUsersView

@{
    ViewBag.Title = "CMSUsersView";
}

@*Tables Stylesheet*@
@Styles.Render("~/Content/cms/tableStylesheets")

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">CMS Users (@Model.lstCMSUsers.Count)</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstCMSUsers)
                {

                    <tr data-item-id="@item.iCMSUserID" id="@item.iCMSUserID">
                        <td style="vertical-align: middle;">@item.strFirstName</td>
                        <td style="vertical-align: middle;">@item.strSurname</td>
                        <td style="vertical-align: middle;">@item.strEmailAddress</td>
                        <td class="actions" style="font-size:2em; text-align:center;vertical-align:central">
                            <a href="@Url.Action("CMSUserEdit", "CMSUsers", new { @id = @item.iCMSUserID })"><i class="fa fa-pencil"></i></a>
                            &nbsp;&nbsp;&nbsp;
                            <a id="@item.iCMSUserID" class="modal-with-zoom-anim modal-basic" href="#deleteItemModal" onclick="deleteItemConfirm(@item.iCMSUserID)"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-md keep-right" style="float:right;">
                    <a id="btnAddCMSUser" href="@Url.Action("CMSUserAdd", "CMSUsers")" class="btn btn-primary">Add <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.HiddenFor(Model => Model.iCMSUserID)
<!-- end: page -->

<!-- Modal Animation -->
<!-- delete modal popup -->
<div id="deleteItemModal" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>Are you sure that you want to delete this user?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-dismiss" onclick="deleteItem()">Confirm</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- delete item modal popup -->

<!-- information modal popup -->
<a id="infoItemModalAnchor" style="display:none;" class="mb-xs mt-xs mr-xs modal-basic btn btn-info" href="#infoItemModal"></a>

<div id="infoItemModal" class="modal-block modal-block-info mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Information</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="modal-text">
                    <p>There cannot be no CMS users.</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-info modal-dismiss">OK</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- information modal popup -->

<!-- add item success -->
<script type="text/javascript">
    function addItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'User added successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- update item success -->
<script type="text/javascript">
    function updatedItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'User updated successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- delete item success -->
<script type="text/javascript">
    function deleteItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'User deleted successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- delete info item -->
<script type="text/javascript">
    function deleteInfoItem() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'There cannot be no CMS users.',
			type: 'info',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<script type="text/javascript">
    function deleteItemConfirm(iItemID) {
        //SET ITEM ID TO DELETE
        $('#iCMSUserID').val(iItemID);
    }
</script>

<!-- delete item -->
<script type="text/javascript">
    function deleteItem() {

        var iCMSUserID = $('#iCMSUserID').val();

        if (iCMSUserID != 0) {
            $.ajax({
                url: '@Url.Action("CMSUserDelete", "CMSUsers")',
                type: "POST",
                data: { "iCMSUserID": iCMSUserID },
                success: function (info) {
                    // states is your JSON array
                    if (info.bIsSuccess == true) {
                        window.location.href = "/CMS/CMSUsers/CMSUsersView/";
                    }
                    else {
                        deleteInfoItem();
                    }
                }
            });
        }
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
@**** DISPLAY SUCCESS ON USER ADD ****@
@**** DISPLAY SUCCESS ON USER UPDATE ****@
@**** DISPLAY SUCCESS ON USER DELETE ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("CMS Users | CareerWiz CMS");
        $("#h2PageHeader").text("CMS Users");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><span>CMS Users</span></li>");

        @{
            //ADD SUCCESS NOTIFICATION
            if (TempData["bIsCMSUserAdded"] != null)
            {
                if ((bool)TempData["bIsCMSUserAdded"] == true)
                {
                    <text>
                        addItemSuccess();
                    </text>
                }
            }
            //UPDATE SUCCESS NOTIFICATION
            if (TempData["bIsCMSUserUpdated"] != null)
            {
                if ((bool)TempData["bIsCMSUserUpdated"] == true)
                {
                    <text>
                        updatedItemSuccess();
                    </text>
                }
            }
            //DELETE SUCCESS NOTIFICATION
            if (TempData["bIsCMSUserDeleted"] != null)
            {
                if ((bool)TempData["bIsCMSUserDeleted"] == true)
                {
                    <text>
                        deleteItemSuccess();
                    </text>
                }
            }
        }
    }
</script>