﻿@model CareerWizCMS.View_Models.Account.clsForgotPassword

@{
    Layout = null;
}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    <title id="strPageTitle">Forgot Password | CareerWiz CMS</title>

    <meta name="keywords" content="CareerWiz CMS" />
    <meta name="description" content="Content Management System">
    <meta name="author" content="https://www.softservedigital.co.za/">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Icon  -->
    <link rel="icon" href="@Url.Content("~/images/imgLogoIcon.ico")" />

    @Styles.Render("~/Content/cms/css")
    @Styles.Render("~/Content/loginStylesheets")
    @Scripts.Render("~/bundles/cms/modernizr")

</head>
<body class="cms_login_background">

    <div class="cms_login_image"></div>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">

            <div class="panel panel-sign login_box_style">
                <div class="panel-title-sign mt-xl text-right">
                    <img style="width:100%;" src="~/images/loginImages/CareerWizHeader.png" />
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(null, null, new { @id = "frmForgotPassword", @name = "frmForgotPassword" }))
                    {
                        <div class="center_div">
                            <img class="login_logo_image" src="~/Areas/CMS/Content/assets/images/loginImages/PoweredBySoftserve.svg" />
                        </div>
                        <div class="alert alert-info">
                            <p class="m-none text-weight-semibold h6">Enter your e-mail below and we will send you a temporary password</p>
                        </div>
                        <div class="form-group mb-none">
                            <div class="input-group">
                                @Html.EditorFor(Model => Model.strEmail, new { htmlAttributes = new { @id = "strEmail", @placeholder = "Email", @class = "form-control input-lg textbox_font_size" } })
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-lg" type="submit">Reset</button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.strEmail, "", new { @class = "text-danger" })
                        </div>

                        // ** FORGOT PASSWORD ERROR ** 
                        <span class="mt-lg mb-lg text-center" style="display:block;">
                            @Html.ValidationMessage("forgotPasswordError", new { @class = "text-danger" })
                        </span>
                    }
                </div>
            </div>
            <div class="center_div">
                <a class="redirect_style_anchor" href="@Url.Action("Login", "Account")">• CMS LOGIN •</a>
            </div>
            @*<p class="text-center text-muted mt-md mb-md">&copy; Copyright @DateTime.Now.Year. All Rights Reserved.</p>*@
        </div>
    </section>
    <!-- end: page -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cms/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cms/bootstrap")
    @Scripts.Render("~/bundles/cms/layout")
    @Scripts.Render("~/bundles/cms/theme")
    @Scripts.Render("~/bundles/cms/example")

    @*UPDATE CHECKBOX ON PAGE LOAD / RELOAD AND LOAD BACKGROUND IMAGE ANIMATION*@
    <script type="text/javascript">
        var myMenu = document.querySelector(".cms_login_background");
        myMenu.addEventListener("transitionend", OnTransitionEnd, false);

        function OnTransitionEnd() {
            myMenu.classList.remove("cms_login_background--animatable");
        }

    window.onload = function ()
    {
        //LOAD BACKGROUND IMAGE ANIMATION
        myMenu.classList.add("cms_login_background--animatable");
        if (!myMenu.classList.contains("cms_login_background--visible")) {
            myMenu.classList.add("cms_login_background--visible");
        } else {
            myMenu.classList.remove('cms_login_background--visible');
        }
    }
    </script>

</body>
</html>