﻿
@{
    ViewBag.Title = "OpportunitiesImport";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Import Opportunities</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("OpportunitiesImport", "Opportunities", FormMethod.Post, new { @id = "frmOpportunitiesImport", @name = "frmOpportunitiesImport", @enctype = "multipart/form-data" }))
            {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4 class="mb-xlg">Import</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label">File Upload (Excel Document)</label>
                                <div class="col-md-6">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="input-append">
                                            <div class="uneditable-input">
                                                <i class="fa fa-file fileupload-exists"></i>
                                                <span class="fileupload-preview"></span>
                                            </div>
                                            <span class="btn btn-default btn-file">
                                                <span class="fileupload-exists">Change</span>
                                                <span class="fileupload-new">Select file</span>
                                                <input type="file" id="fuFileUpload" name="fuFileUpload" />
                                            </span>
                                            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                        </div>
                                    </div>
                                    <label id="lblValidationMessage" style="display:none; color:#d2322d;"></label>
                                    @Html.ValidationMessage("OpportunitiesImportError", new { @id = "OpportunitiesImportError", @name = "OpportunitiesImportError", @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-6">
                                    <label>Click on the <a href="~/ExcelDocumentTemplates/OpportunitiesTemplate.xlsx" download>Link</a> for an available Opportunities Excel Template</label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("OpportunitiesView", "Opportunities")" class="btn btn-default">Back</a>
                                <input id="btnSubmitFile" type="button" onclick="submitFile()" class="btn btn-primary" value="Import" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<!-- end: page -->
@**** SUBMIT File and check file extensions ****@
<script type="text/javascript">
    function submitFile() {
        //Clear all error messages
        $('#OpportunitiesImportError').hide();

        var fuFileUpload = $('#fuFileUpload').val();
        if (fuFileUpload == null || fuFileUpload == "") {

            var message = "No File Selected";
            $('#lblValidationMessage').text(message);
            $('#lblValidationMessage').show();

        }
        else {
            //array of valid Excel extensions
            var validExtensions = ['xls', 'xlsx']; //Standard lagacy (xls) and current formats (xlsx)
                                    //'xlsm', 'xltx', 'xltm' - Other formats
                                    //'xlt', 'xlm' - Other Lagacy Formats (Pre Office 2007)
                                    //, 'xlsb','xla', 'xlam', 'xll', 'xlw']; // OTHER excel formats
            var fileNameExt = fuFileUpload.substr(fuFileUpload.lastIndexOf('.') + 1);
            if ($.inArray(fileNameExt, validExtensions) == -1) {

                var message = "Invalid File Type. Upload 'xls' or 'xlsx' Supported Excel Document Formats.";
                $('#lblValidationMessage').text(message);
                $('#lblValidationMessage').show();
            }
            else {
                var message = "";
                $('#lblValidationMessage').text(message);
                $('#lblValidationMessage').hide();
                //Submit Form
                $("#frmOpportunitiesImport").submit();
            }
        }

        }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Import Opportunities | CareerWiz CMS");
        $("#h2PageHeader").text("Import Opportunities");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("OpportunitiesView", "Opportunities")'>Opportunities</a></li>");
        $("#olBreadcrumbs").append("<li><span>Import Opportunities</span></li>");
    }
</script>
