﻿@model CareerWizCMS.View_Models.CMSUserAccess.clsCMSUserAccessAdd

@{
    ViewBag.Title = "CMSUserAccessAdd";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">CMS User Access</h2>
            </header>
            <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmCMSUserAccessAdd", @name = "frmCMSUserAccessAdd" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4 class="mb-xlg">CMS User</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstCMSUsers">CMS Users</label>
                            <div class="col-md-8">
                                @if (Model.lstCMSUsers.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsCMSUserAccess.iCMSUserID, new SelectList(Model.lstCMSUsers, "iCMSUserID", "strFirstName"), "-- Select A CMS User --", new { id = "lstCMSUsers", name = "lstCMSUsers" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsCMSUserAccess.iCMSUserID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsCMSUserAccess.iCMSUserID, new SelectList(Model.lstCMSUsers, "iCMSUserID", "strFirstName"), "-- No CMS Users Available --", new { id = "lstCMSUsers", name = "lstCMSUsers" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsCMSUserAccess.iCMSUserID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    <hr class="dotted tall">
                    <h4 class="mb-xlg">CMS Pages</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstCMSPages">Page</label>
                            <div class="col-md-8">
                                @if (Model.lstCMSPages.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsCMSUserAccess.iCMSPageID, new SelectList(Model.lstCMSPages, "iCMSPageID", "strTitle"), "-- Select A CMS Page --", new { id = "lstCMSPages", name = "lstCMSPages" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsCMSUserAccess.iCMSPageID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsCMSUserAccess.iCMSPageID, new SelectList(Model.lstCMSPages, "iCMSPageID", "strTitle"), "-- No CMS Pages Available --", new { id = "lstCMSPages", name = "lstCMSPages" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsCMSUserAccess.iCMSPageID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    <hr class="dotted tall">
                    <h4 class="mb-xlg">Read Write</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="bIsSetRead"></label>
                            <div class="col-sm-8">
                                <div class="checkbox-custom checkbox-default">
                                    <input type="checkbox" id="bIsSetRead" onclick="jsSetRead()" />
                                    <label for="bIsSetRead">Read Access</label>
                                    @Html.HiddenFor(Model => Model.clsCMSUserAccess.bIsRead)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="bIsSetWrite"></label>
                            <div class="col-sm-8">
                                <div class="checkbox-custom checkbox-default">
                                    <input type="checkbox" id="bIsSetWrite" onclick="jsSetWrite()" />
                                    <label for="bIsSetWrite">Write Access</label>
                                    @Html.HiddenFor(Model => Model.clsCMSUserAccess.bIsWrite)
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <hr />
                    </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("CMSUserAccessView", "CMSUserAccess")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
            }
                </div>
        </section>
    </div>
</div>
<!-- end: page -->

@*SET 'bIsRead' VALUE WITH JQUERY*@
<script type="text/javascript">

        function jsSetRead() {
            if ($('#bIsSetRead').is(':checked')) {
                $("#clsCMSUserAccess_bIsRead").val(true);
            }
            else {
                $("#clsCMSUserAccess_bIsRead").val(false);
            }
        }
</script>

@*SET 'bIsWrite' VALUE WITH JQUERY*@
<script type="text/javascript">

        function jsSetWrite() {
            if ($('#bIsSetWrite').is(':checked')) {
                $("#clsCMSUserAccess_bIsWrite").val(true);
            }
            else {
                $("#clsCMSUserAccess_bIsWrite").val(false);
            }
        }
</script>

<!-- information modal popup -->
<!-- item exists -->
<script type="text/javascript">
    function addItemExists() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'CMS user with selected CMS page User Access settings already exists.',
			type: 'info',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("Add CMS User Access Setting | CareerWiz CMS");
        $("#h2PageHeader").text("Add CMS User Access Setting");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("CMSUserAccessView", "CMSUserAccess")'>CMS User Access</a></li>");
        $("#olBreadcrumbs").append("<li><span>Add CMS User Access Setting</span></li>");

        //Check if boxes are ticked

        if ($("#clsCMSUserAccess_bIsRead").val().toString().toLowerCase() == "true") {
            $("#bIsSetRead").prop("checked", true);
        }
        else {
            $("#bIsSetRead").prop("checked", false);
        }
        if ($("#clsCMSUserAccess_bIsWrite").val().toString().toLowerCase() == "true") {
            $("#bIsSetWrite").prop("checked", true);
        }
        else {
            $("#bIsSetWrite").prop("checked", false);
        }

        @{
            //ADD SUCCESS NOTIFICATION
            if (TempData["bIsCMSUserAccessRecordExists"] != null)
            {
                if ((bool)TempData["bIsCMSUserAccessRecordExists"] == true)
                {
                    <text>
                        addItemExists();
                    </text>
                }
            }
        }
    }
</script>

