﻿@model CareerWizCMS.View_Models.UserPreferenceLinkTable.clsUserPreferenceLinkTableEdit

@{
    ViewBag.Title = "UserPreferenceLinkTableEdit";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">User And Preference Links</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmUserPreferenceLinkTableEdit", @name = "frmUserPreferenceLinkTableEdit" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.clsUserPreferenceLinkTable.iUserPreferenceLinkTableID)
                    <div class="form-horizontal">
                        <h4 class="mb-xlg">User</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lstUsers">User</label>
                                <div class="col-md-8">
                                    @if (Model.lstUsers.Count > 0)
                                    {
                                        @Html.DropDownListFor(Model => Model.clsUserPreferenceLinkTable.iUserID, new SelectList(Model.lstUsers, "iUserID", "strFirstName"), "-- Select A User --", new { id = "lstUsers", name = "lstUsers" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsUserPreferenceLinkTable.iUserID, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(Model => Model.clsUserPreferenceLinkTable.iUserID, new SelectList(Model.lstUsers, "iUserID", "strFirstName"), "-- No Users Available --", new { id = "lstUsers", name = "lstUsers" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsUserPreferenceLinkTable.iUserID, "", new { @class = "text-danger" })
                                    }
                                </div>
                            </div>
                        </fieldset>

                        <hr class="dotted tall">
                        <h4 class="mb-xlg">Preference</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lstPreferences">Preference</label>
                                <div class="col-md-8">
                                    @if (Model.lstPreferences.Count > 0)
                                    {
                                        @Html.DropDownListFor(Model => Model.clsUserPreferenceLinkTable.iPreferenceID, new SelectList(Model.lstPreferences, "iPreferenceID", "strTitle"), "-- Select A Preference --", new { id = "lstPreferences", name = "lstPreferences" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsUserPreferenceLinkTable.iPreferenceID, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(Model => Model.clsUserPreferenceLinkTable.iPreferenceID, new SelectList(Model.lstPreferences, "iPreferenceID", "strTitle"), "-- No Preferences Available --", new { id = "lstPreferences", name = "lstPreferences" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsUserPreferenceLinkTable.iPreferenceID, "", new { @class = "text-danger" })
                                    }
                                </div>
                            </div>
                        </fieldset>

                        @*<hr class="dotted tall">*@

                        <div class="row">
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("UserPreferenceLinkTableView", "UserPreferenceLinkTable")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<!-- end: page -->

<!-- information modal popup -->
<!-- item exists -->
<script type="text/javascript">
    function itemExists() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'User and Preference link item already exists.',
			type: 'info',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Edit User And Preference Link Setting | CareerWiz CMS");
        $("#h2PageHeader").text("Edit User And Preference Link Setting");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("UserPreferenceLinkTableView", "UserPreferenceLinkTable")'>User And Preference Links</a></li>");
        $("#olBreadcrumbs").append("<li><span>Edit User And Preference Link Setting</span></li>");

        @{
            //ADD SUCCESS NOTIFICATION
            if (TempData["bIsUserPreferenceLinkTableRecordExists"] != null)
            {
                if ((bool)TempData["bIsUserPreferenceLinkTableRecordExists"] == true)
                {
                    <text>
                        itemExists();
                    </text>
                }
            }
        }
    }
</script>