﻿@model CareerWizCMS.View_Models.OpportunityIndustrySectorLinkTable.clsOpportunityIndustrySectorLinkTableAdd

@{
    ViewBag.Title = "OpportunityIndustrySectorLinkTableAdd";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Add Opportunity And Industry Sector Link</h2>
            </header>
            <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmOpportunityIndustrySectorLinkTableAdd", @name = "frmOpportunityIndustrySectorLinkTableAdd" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4 class="mb-xlg">Opportunity</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstOpportunities">Opportunity</label>
                            <div class="col-md-8">
                                @if (Model.lstOpportunities.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsOpportunityIndustrySectorLinkTable.iOpportunityID, new SelectList(Model.lstOpportunities, "iOpportunityID", "strTitle"), "-- Select An Opportunity --", new { id = "lstOpportunities", name = "lstOpportunities" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsOpportunityIndustrySectorLinkTable.iOpportunityID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsOpportunityIndustrySectorLinkTable.iOpportunityID, new SelectList(Model.lstOpportunities, "iOpportunityID", "strTitle"), "-- No Opportunities Available --", new { id = "lstOpportunities", name = "lstOpportunities" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsOpportunityIndustrySectorLinkTable.iOpportunityID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    <hr class="dotted tall">
                    <h4 class="mb-xlg">Industry Sector</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstIndustrySectors">Industry Sector</label>
                            <div class="col-md-8">
                                @if (Model.lstIndustrySectors.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsOpportunityIndustrySectorLinkTable.iIndustrySectorID, new SelectList(Model.lstIndustrySectors, "iIndustrySectorID", "strTitle"), "-- Select An Industry Sector --", new { id = "lstIndustrySectors", name = "lstIndustrySectors" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsOpportunityIndustrySectorLinkTable.iIndustrySectorID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsOpportunityIndustrySectorLinkTable.iIndustrySectorID, new SelectList(Model.lstIndustrySectors, "iIndustrySectorID", "strTitle"), "-- No Industry Sectors Available --", new { id = "lstIndustrySectors", name = "lstIndustrySectors" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsOpportunityIndustrySectorLinkTable.iIndustrySectorID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    @*<hr class="dotted tall">*@
                    <div class="row">
                        <hr />
                    </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("OpportunityIndustrySectorLinkTableView", "OpportunityIndustrySectorLinkTable")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
            }
                </div>
        </section>
    </div>
</div>
<!-- end: page -->

<!-- information modal popup -->
<!-- item exists -->
<script type="text/javascript">
    function itemExists() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Opportunity and Industry Sector link item already exists.',
			type: 'info',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("Add Opportunity And Industry Sector Link Setting | CareerWiz CMS");
        $("#h2PageHeader").text("Add Opportunity And Industry Sector Link Setting");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("OpportunityIndustrySectorLinkTableView", "OpportunityIndustrySectorLinkTable")'>Opportunity And Industry Sector Links</a></li>");
        $("#olBreadcrumbs").append("<li><span>Add Opportunity And Industry Sector Link Setting</span></li>");

        @{
            //ADD SUCCESS NOTIFICATION
            if (TempData["bIsOpportunityIndustrySectorLinkTableRecordExists"] != null)
            {
                if ((bool)TempData["bIsOpportunityIndustrySectorLinkTableRecordExists"] == true)
                {
                    <text>
                        itemExists();
                    </text>
                }
            }
        }
    }
</script>

