﻿@model CareerWizCMS.View_Models.IndustrySectorCareerLinkTable.clsIndustrySectorCareerLinkTableEdit

@{
    ViewBag.Title = "IndustrySectorCareerLinkTableEdit";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Edit Industry Sector And Career Link</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmIndustrySectorCareerLinkTableEdit", @name = "frmIndustrySectorCareerLinkTableEdit" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.clsIndustrySectorCareerLinkTable.iIndustrySectorCareerLinkTableID)
                    <div class="form-horizontal">
                        <h4 class="mb-xlg">Industry Sector</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstIndustrySectors">Industry Sector</label>
                            <div class="col-md-8">
                                @if (Model.lstIndustrySectors.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsIndustrySectorCareerLinkTable.iIndustrySectorID, new SelectList(Model.lstIndustrySectors, "iIndustrySectorID", "strTitle"), "-- Select An Industry Sector --", new { id = "lstIndustrySectors", name = "lstIndustrySectors" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsIndustrySectorCareerLinkTable.iIndustrySectorID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsIndustrySectorCareerLinkTable.iIndustrySectorID, new SelectList(Model.lstIndustrySectors, "iIndustrySectorID", "strTitle"), "-- No Industry Sectors Available --", new { id = "lstIndustrySectors", name = "lstIndustrySectors" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsIndustrySectorCareerLinkTable.iIndustrySectorID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    <hr class="dotted tall">
                    <h4 class="mb-xlg">Career</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstCareers">Career</label>
                            <div class="col-md-8">
                                @if (Model.lstCareers.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsIndustrySectorCareerLinkTable.iCareerID, new SelectList(Model.lstCareers, "iCareerID", "strTitle"), "-- Select A Career --", new { id = "lstCareers", name = "lstCareers" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsIndustrySectorCareerLinkTable.iCareerID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsIndustrySectorCareerLinkTable.iCareerID, new SelectList(Model.lstCareers, "iCareerID", "strTitle"), "-- No Careers Available --", new { id = "lstCareers", name = "lstCareers" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsIndustrySectorCareerLinkTable.iCareerID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                        @*<hr class="dotted tall">*@

                        <div class="row">
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("IndustrySectorCareerLinkTableView", "IndustrySectorCareerLinkTable")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<!-- end: page -->

<!-- information modal popup -->
<!-- item exists -->
<script type="text/javascript">
    function itemExists() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Industry Sector and Career link item already exists.',
			type: 'info',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Edit Industry Sector And Career Link Setting | CareerWiz CMS");
        $("#h2PageHeader").text("Edit Industry Sector And Career Link Setting");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("IndustrySectorCareerLinkTableView", "IndustrySectorCareerLinkTable")'>Industry Sector And Career Links</a></li>");
        $("#olBreadcrumbs").append("<li><span>Edit Industry Sector And Career Link Setting</span></li>");

        @{
            //EXISTS NOTIFICATION
            if (TempData["bIsIndustrySectorCareerLinkTableRecordExists"] != null)
            {
                if ((bool)TempData["bIsIndustrySectorCareerLinkTableRecordExists"] == true)
                {
                    <text>
                        itemExists();
                    </text>
                }
            }
        }
    }
</script>