﻿
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="section-block intro-title-2 small">
    <div class="media-overlay bkg-black opacity-01"></div>
    <div class="row">
        <div class="column width-10 offset-1 center">
            <div class="title-container">
                <div class="title-container-inner color-white">
                    <h1 class="title-large mb-30 mt-30">Sign Up.</h1>
                    <p class="small">We empower students, helping them and their communities by providing knowledge, in order to make. Sign Up Today!</p>
                </div>
            </div>
            <div class="title-container">
                <div class="title-container-inner color-white">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="column width-12">
    <hr class="mb-70 mt-70">
</div>
<!--Personal Details Section-->
<div class="section-block replicable-content pt-0">
    <div class="row">
        <div class="column width-4">
            <h3 class="mb-50">Personal Details</h3>
        </div>
        <div class="column width-8">
            <div class="contact-form-container">
                <form class="contact-form" action="php/send-email.php" method="post" novalidate="">
                    <div class="row">
                        <div class="column width-6">
                            <div class="field-wrapper">
                                <input name="fname" class="form-fname form-element rounded large" placeholder="First Name*" tabindex="1" required="" type="text">
                            </div>
                        </div>
                        <div class="column width-6">
                            <div class="field-wrapper">
                                <input name="lname" class="form-lname form-element rounded large" placeholder="Last Name" tabindex="2" type="text">
                            </div>
                        </div>
                        <div class="column width-6">
                            <div class="field-wrapper">
                                <input name="email" class="form-email form-element rounded large" placeholder="Email address*" tabindex="3" required="" type="email">
                            </div>
                        </div>
                        <div class="column width-6">
                            <div class="field-wrapper">
                                <input name="age" class="form-wesite form-element rounded large" placeholder="Age" tabindex="4" type="text">
                            </div>
                        </div>
                        <div class="column width-6">
                            <div class="field-wrapper">
                                <input name="gender" class="form-email form-element rounded large" placeholder="Gender" tabindex="5" required="" type="text">
                            </div>
                        </div>
                        <div class="column width-6">
                            <div class="field-wrapper">
                                <input name="nationality" class="form-wesite form-element rounded large" placeholder="Nationality" tabindex="6" type="text">
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper">
                                <input name="Region" class="form-wesite form-element rounded large" placeholder="Region" tabindex="7" type="text">
                            </div>
                        </div>
                        <div class="column width-6">
                            <input name="honeypot" class="form-honeypot form-element" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column width-12">
                            <div class="field-wrapper">
                                <textarea name="message" class="form-message form-element rounded large" placeholder="Message*" tabindex="7" required=""></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-response"></div>
            </div>
        </div>
    </div>
</div>
<div class="column width-12">
    <hr class="mb-70 mt-70">
</div>
<!--Education Section-->
<div class="section-block replicable-content pt-0">
    <div class="row">
        <div class="column width-4">
            <h3 class="mb-5">Education</h3>
            <h6 class="color-grey-light">Current level of study</h6>
        </div>
        <div class="column width-8">
            <div class="contact-form-container">
                <form class="contact-form" action="php/send-email.php" method="post" novalidate="">
                    <div class="row">
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="rbtHighSchool" class="form-element radio" name="radio-group" checked="" type="radio" onclick="changeHighSchool();">
                                <label for="rbtHighSchool" class="radio-label">High School</label>
                                <input id="rbtInstitution" class="form-element radio" name="radio-group" type="radio" onclick="changeInstitution();">
                                <label for="rbtInstitution" class="radio-label">Higher Education</label>
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper">
                                <input name="txtEducation" id="txtEducation" class="form-lname form-element rounded large" placeholder="High School Name" tabindex="9" type="text">
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper">
                                <input name="grade" id="txtGrade" class="form-email form-element rounded large" placeholder="Grade" tabindex="10" required="" type="text">
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper">
                                <input name="subjects" id="txtSubjects" class="form-wesite form-element rounded large" placeholder="Subjects" tabindex="11" type="text">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-response"></div>
            </div>
        </div>
    </div>
</div>
<div class="column width-12">
    <hr class="mb-70 mt-70">
</div>
<!--Preferences Section-->
<div class="section-block replicable-content pt-0">
    <div class="row">
        <div class="column width-4">
            <h3 class="mb-50">Preferences</h3>
        </div>
        <div class="column width-8">
            <div class="contact-form-container">
                <form class="contact-form" action="php/send-email.php" method="post" novalidate="">
                    <div class="row">
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="chkGuidance" class="form-element checkbox rounded" name="chkGuidance" required="" type="checkbox">
                                <label for="chkGuidance" class="checkbox-label">Career Guidance</label>
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="chkAdvice" class="form-element checkbox rounded" name="chkAdvice" required="" type="checkbox">
                                <label for="chkAdvice" class="checkbox-label">Career Advice</label>
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="chkPlacement" class="form-element checkbox rounded" name="chkPlacement" required="" type="checkbox">
                                <label for="chkPlacement" class="checkbox-label">Part-time Placement Opportunities</label>
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="chkJobs" class="form-element checkbox rounded" name="chkJobs" required="" type="checkbox">
                                <label for="chkJobs" class="checkbox-label">Entry-level Jobs</label>
                            </div>
                        </div>
                        <div class="column width-12">
                            <div class="field-wrapper pt-10 pb-10">
                                <input id="chkFunding" class="form-element checkbox rounded" name="chkFunding" required="" type="checkbox">
                                <label for="chkFunding" class="checkbox-label">Funding</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-response"></div>
            </div>
        </div>
    </div>
</div>
<div class="column width-12">
    <hr class="mb-70 mt-70">
</div>
<div class="section-block replicable-content pt-0">
    <div class="row">
        <div class="column width-8">
            <p class="lead weight-regular mb-70">I hereby agree that all the information entered is correct and of my own.</p>
        </div>
        <div class="column width-4">
            <input value="Sign Up!" class="form-submit button rounded medium bkg-theme bkg-hover-green color-white color-hover-white" type="submit">
        </div>
    </div>
</div>




<!-- JavaScript-->
<script src="~/Content/assets/js/PlaceholderChange.js"></script>


