﻿@model CareerWiz.Models.User.clsUserLogin
@{
    
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Your-Title-Here" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Your-Image-Url" />
    <meta property="og:description" content="Your-Page-Description" />
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="shop home-page">
    <!-- Content -->
    <div class="content clearfix">
        <!-- Hero Section 5 -->
        <section id="strategy" class="section-block hero-8 window-height right show-media-column-on-mobile">
            <div class="media-column width-7 bkg-grey-ultralight">
                <div class="tm-slider-container content-slider window-height" data-animation="slide" data-nav-arrows="false" data-nav-pagination="false" data-pause-on-hover="false" data-speed="2000" data-auto-advance data-auto-advance-interval="5000" data-progress-bar="false" data-scale-under="0" data-width="722">
                    <ul class="tms-slides">
                        <li class="tms-slide" data-image data-force-fit data-as-bkg-image data-animation="fade">
                            <img data-src="../../Content/Assets/images/Client-Login-BG.jpg" data-retina src="images/blank.png" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column width-4">
                    <div class="hero-content split-hero-content">
                        <div class="hero-content-inner left">
                            <h3>Client Login</h3>
                            <p class="mb-20">Need a client account? <a href="#">Click Here</a></p>
                            <div class="row">
                                <div class="column width-12">
                                    <div class="login-form-container">
                                        <form class="login-form" action="#" method="post" novalidate>
                                            <div class="row">
                                                <div class="column width-12">
                                                    <div class="field-wrapper">
                                                        <label class="color-charcoal">Username:</label>
                                                        @Html.EditorFor(Model => Model.strEmail, new { htmlAttributes = new { @id = "strEmail", @placeholder = "Email", @class = "form-control input-lg", @Value = "test@user.com" } })
                                                    </div>
                                                </div>
                                                <div class="column width-12">
                                                    <div class="field-wrapper">
                                                        <label class="color-charcoal">Password:</label>
                                                        @Html.EditorFor(Model => Model.strPassword, new { htmlAttributes = new { @id = "strPassword", @placeholder = "Password", @class = "form-control input-lg", @Value = "admin@careerwiz.co.za" } })
                                                    </div>
                                                </div>
                                                <div class="column width-12">
                                                    <div class="field-wrapper pt-10 pb-10">
                                                        <input id="checkbox-1" class="form-element checkbox rounded" name="checkbox-1" type="checkbox" required>
                                                        <label for="checkbox-1" class="checkbox-label">Remember Me</label>
                                                    </div>
                                                </div>
                                                <div class="column width-12">
                                                    <input type="submit" value="Login" class="form-submit button rounded large bkg-green bkg-hover-theme color-white color-hover-white">
                                                </div>
                                            </div>
                                            <input type="text" name="honeypot" class="form-honeypot form-element">
                                        </form>
                                        <p class="text-small mt-20">I forgot my password - <a href="#">Remind me</a></p>
                                        <div class="form-response show"></div>
                                        <span class="mt-lg mb-lg text-center" style="display:block;">
                                            @Html.ValidationMessage("loginError", new { @class = "text-danger" })
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section 5 End -->
        <!-- Subscribe Advanced Modal End -->
        <div id="subscribe-modal" class="section-block pt-0 pb-30 background-none hide">

            <!-- Intro Title Section 2 -->
            <div class="section-block intro-title-2-1 xsmall bkg-grey-ultralight">
                <div class="media-overlay bkg-black opacity-03"></div>
                <div class="row">
                    <div class="column width-12">
                        <div class="title-container">
                            <div class="title-container-inner center color-white">
                                <h1 class="title-medium mb-0">Subscribe To Newsletter</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Intro Title Section 2 End -->
            <!-- Signup -->
            <div class="section-block pt-60 pb-0">
                <div class="row">
                    <div class="column width-12 center">
                        <div class="signup-form-container">
                            <div class="row">
                                <div class="column width-10 offset-1">
                                    <p>Subscribe to our monthly newsletter and get the latest news from Kant. You can unsubscribe at any time.</p>
                                </div>
                            </div>
                            <form class="signup-form merged-form-elements" action="php/subscribe.php" method="post" novalidate>
                                <div class="row">
                                    <div class="column width-8">
                                        <div class="field-wrapper">
                                            <input type="email" name="email" class="form-email form-element rounded large left" placeholder="Email address*" tabindex="2" required>
                                        </div>
                                    </div>
                                    <div class="column width-4">
                                        <input type="submit" value="Subscribe" class="form-submit button rounded large bkg-theme bkg-hover-green color-white color-hover-white">
                                    </div>
                                </div>
                                <input type="text" name="honeypot" class="form-honeypot form-element">
                            </form>
                            <div class="form-response show"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Signup End -->
        </div>
        <!-- Subscribe Advanced Modal End -->
    </div>
    <!-- Content End -->
    <!-- Js -->
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
<script src="js/timber.master.min.js"></script>
