﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="section-block intro-title-1 small bkg-grey-ultralight">
    <div class="row">
        <div class="column width-12">
            <div class="title-container">
                <div class="title-container-inner">
                    <h1 class="title-xlarge mb-0">About <span style="color:#ccdb2a">CareerWiz.</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CareerWiz introduction-->
<div class="section-block pb-0 mb-50">
    <div class="row flex">
        <div class="column width-6 v-align-middle">
            <div class="feature-column">
                <p class="lead text-xlarge color-theme">Unlike other platforms of this nature, we pride ourselves in extremely personalised settings, making the user experience personal and user specific.</p>
            </div>
        </div>
        <div class="column width-5 offset-1">
            <div class="feature-column">
                <div class="feature-text">
                    <h4 class="mb-30">Established in 2012</h4>
                    <p>CareerWiz prides itself in making the user experience an extremely personal one. Our well designed solution will pull profile information and match it to relative opportunities and information alike. This will reduce time spent on finding your perfect career. The platform is designed to manoeuvre through the difficult task of finding a career that best suits you.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-block intro-title-2-2 small">
    <div class="media-overlay bkg-black opacity-02"></div>
    <div class="row">
        <div class="column width-10 offset-1 center">
            <div class="title-container">
                <div class="title-container-inner color-white">
                    <h1 class="title-large mb-30 mt-30">Why We Need CareerWiz.</h1>
                    <p class="small">We're ready to lead you to your perfect career!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-block section-overlap replicable-content bkg-grey-ultralight">
    <div class="row flex boxes">
        <div class="column width-4">
            <div class="feature-column box rounded large bkg-white">
                <span class="title-large font-alt-1 opacity-02">01</span>
                <h4 class="mb-30">Youth Unemployment</h4>
                <p>Youth unemployment is currently on the rise and a growing concern not only in South Africa, but the African continent as a whole.</p>
            </div>
        </div>
        <div class="column width-4">
            <div class="feature-column box rounded large bkg-white">
                <span class="title-large font-alt-1 opacity-02">02</span>
                <h4 class="mb-30">Tertiary Drop-out Rates</h4>
                <p>Tertiary institution drop-out rates are high and continue to escalate, but what is most alarming is the number of learners in disadvantaged and marginalised communities that suffer from a lack of exposure and accessibility to career information, opportunities and as a result of this, they remain excluded from economic activity and growth consortiums.</p>
            </div>
        </div>
        <div class="column width-4">
            <div class="feature-column box rounded large" style="background:#ccdb2a !important;border:#ccdb2a !important">
                <span class="title-large font-alt-1" style="color:#ffffff;">03</span>
                <h4 class="mb-30">Our Solution</h4>
                <p style="color:#333">This is what we are ultimately passionate about and seek to eradicate, and the above mentioned is the premise upon which the CareerWiz platform was founded and mandated to circumvent.</p>
            </div>
        </div>
    </div>
</div>
<div id="featured" class="section-block pt-0 pb-0">
    <div class="hero-slider tm-slider-container tms-nav-dark tms-carousel tms-scalable-height resizing" data-width="2500" data-height="1600" data-scale-min-height="700" style="width: 1903px; height: 459px;">
        <ul class="tms-slides" style="width: 3806px; transition-property: opacity, -moz-transform; transition-duration: 900ms; transition-timing-function: ease; transition-delay: 0s; transform: translate3d(0px, 0px, 0px); opacity: 1; transform-origin: 50% 50% 0px; visibility: visible;">
            <li class="tms-slide bkg-grey-ultralight right active" data-image="" data-as-bkg-image="" data-image-wrapper="media-column" data-nav-dark="" id="tms-slide-1" style="opacity: 1; width: 1903px; visibility: visible; transition: none 0s ease 0s;">
                <div class="media-column width-6" style="background-image: url(../assets/images/About-Us-Slide-1.jpg;);"></div>
                <div class="row tms-perspective">
                    <div class="tms-caption hero-content split-hero-content column width-5 no-transition no-scale" data-no-scale="" style="visibility: visible;">
                        <div class="hero-content-inner left">
                            <div class="tms-content-scalable" style="opacity: 1;">
                                <h2 class="mb-30">Why Careerwiz</h2>
                                <p>The commercial environment is one of rapid and sometimes unpredictable change, moreover, this environment continues to grow increasingly competitive and diverse.</p>
                                <p>Thus, in the current day and age, it is hard for any aspiring and young professional to keep up and know everything pertaining to their desired career field.</p>
                                <p>We created this groundbreaking platform, to ensure that no scholar or young professional gets left behind. On the contrary, we want to keep them ahead of the curve in terms of industry and market related adaptations. We also want to destroy the concern that scholars have with regards to opportunities and the level of exposure and accessibility to these opportunities.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img data-src="../Content/assets/images/About-Us-Slide-1.jpg" data-retina="" src="../Content/assets/images/About-Us-Slide-1.jpg" alt="" style="opacity: 1; display: none;">
            </li>
            <li class="tms-slide bkg-grey-ultralight" data-image="" data-as-bkg-image="" data-image-wrapper="media-column" id="tms-slide-2" style="width: 1903px; opacity: 1; visibility: visible; transition: none 0s ease 0s;">
                <div class="media-column width-6" style="background-image: url(../Content/assets/images/About-Us-Slide-2.jpg);"></div>
                <div class="row tms-perspective">
                    <div class="tms-caption hero-content split-hero-content column width-5 offset-7 no-transition no-scale" data-no-scale="" style="visibility: visible;">
                        <div class="hero-content-inner  tms-content-scalable left">
                            <div class="tms-content-scalable" style="opacity: 1;">
                                <h2 class="mb-30">Our Values</h2>
                                <div class="progress-bar-group mb-50">
                                    <span class="progress-bar-label">Progressive<span class="pull-right">10/10</span></span>
                                    <span class="progress-bar-label">To disrupt markets, challenge the status quo and build forward-thinking communities.</span>
                                    <div class="progress-bar rounded small bkg-white tmh-perspective">
                                        <div class="bar bkg-theme color-white percent-100 horizon" data-animate-in="transX:-100%;duration:1000ms;easing:easeIn;" style="backface-visibility: hidden; transition-property: -moz-transform, opacity; transition-duration: 1000ms; transition-timing-function: ease; transition-delay: 0s; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
                                        </div>
                                    </div>
                                    <span class="progress-bar-label">People-Centered<span class="pull-right">10/10</span></span>
                                    <span class="progress-bar-label">To place increased focus on the consumer and ensure the best user experience at all times.</span>
                                    <div class="progress-bar rounded small bkg-white tmh-perspective">
                                        <div class="bar bkg-theme color-white percent-100 horizon" data-animate-in="transX:-100%;duration:1000ms;easing:easeIn;" style="backface-visibility: hidden; transition-property: -moz-transform, opacity; transition-duration: 1000ms; transition-timing-function: ease; transition-delay: 0s; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
                                        </div>
                                    </div>
                                    <span class="progress-bar-label">Passion<span class="pull-right">10/10</span></span>
                                    <span class="progress-bar-label">To display the highest level of quality and expertise fuelled by the passion for what we do.</span>
                                    <div class="progress-bar rounded small bkg-white tmh-perspective">
                                        <div class="bar bkg-theme color-white percent-100 horizon" data-animate-in="transX:-100%;duration:1000ms;easing:easeIn;" style="backface-visibility: hidden; transition-property: -moz-transform, opacity; transition-duration: 1000ms; transition-timing-function: ease; transition-delay: 0s; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
                                        </div>
                                    </div>
                                    <span class="progress-bar-label">Inclusion<span class="pull-right">10/10</span></span>
                                    <span class="progress-bar-label">To eradicate knowledge, opportunity and economic exclusion using technology and effective career guidance.</span>
                                    <div class="progress-bar rounded small bkg-white tmh-perspective">
                                        <div class="bar bkg-theme color-white percent-100 horizon" data-animate-in="transX:-100%;duration:1000ms;easing:easeIn;" style="backface-visibility: hidden; transition-property: -moz-transform, opacity; transition-duration: 1000ms; transition-timing-function: ease; transition-delay: 0s; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img data-src="../Content/assets/images/About-Us-Slide-2.jpg" data-retina="" src="../Content/assets/images/About-Us-Slide-2.jpg" alt="" style="opacity: 1; display: none;">
            </li>
        </ul>
        <div class="tms-pagination" style="display: block;"><a href="#" id="tms-pagination-1" data-index="1" class="tms-bullet-nav active" style="display: inline-block;"></a><a href="#" id="tms-pagination-2" data-index="2" class="tms-bullet-nav" style="display: inline-block;"></a></div>
    </div>
</div>
<!--End CareerWiz introduction-->

