﻿@{   
  Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Your-Title-Here" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Your-Image-Url" />
    <meta property="og:description" content="Your-Page-Description" />
    <title>Kant | Multipurpose HTML5 Template - Project Style Three</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Content -->
    <div class="content clearfix">

        <!-- Intro Title Section 2 -->
        <div class="section-block intro-title-1 small bkg-grey-ultralight">
            <div class="row">
                <div class="column width-12">
                    <div class="title-container">
                        <div class="title-container-inner">
                            <h1 class="title-xlarge mb-0">Discover <span style="color:#ccdb2a">Yourself.</span></h1>
                            <h4 class="color-grey-light">Know and understand yourself more | make informed decisions | maximise on career opportunities</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Intro Title Section 2 End -->
        <!-- Service Section -->
        <section class="section-block replicable-content">
            <div class="row flex">
                <div class="column width-12">
                    <p class="lead weight-regular mb-70">We seek to systematically guide the learner through the career process and cover all the aspects of this journey. From understanding personality types, identifying key skills and traits, feeding career information, to ultimately connecting the learner to any and all opportunities available in the market.</p>
                </div>
                <div class="column width-3">
                    <span class="title-large font-alt-1 opacity-02">01</span>
                    <h4 class="mb-30">Know Yourself Kit</h4>
                    <p>A string of questions which will help the learner reflect and introspectively assess their character and personality.</p>
                </div>
                <div class="column width-3">
                    <span class="title-large font-alt-1 opacity-02">02</span>
                    <h4 class="mb-30">Personality Type Tool</h4>
                    <p>A strategically and well packaged activity which will assist the learner identify which personality category they fall under.</p>
                </div>
                <div class="column width-3">
                    <span class="title-large font-alt-1 opacity-02">03</span>
                    <h4 class="mb-30">Career Type Tool</h4>
                    <p>An instrument which will assist the learner in navigating to which career field they should most likely penetrate.</p>
                </div>
                <div class="column width-3">
                    <span class="title-large font-alt-1 opacity-02">04</span>
                    <h4 class="mb-30">Course Chooser</h4>
                    <p>A tool that will rope together subject choice information, marks and personality information to point the learner in the direction of their best suited qualification.</p>
                </div>
            </div>
        </section>
        <!-- Service Section End -->
        <!-- Hero 2 Section -->
        <div class="row"></div>
        <div class="section-block hero-3 hero-3-product-1 small">
            <div class="media-overlay bkg-black opacity-02"></div>
            <div class="row">
                <div class="column width-12 left">
                    <div>
                        <div class="hero-content-inner">
                            <h2 class="mb-5 color-white">Success is how high you bounce</h2>
                            <h2 class="mb-5 color-white">when you hit the bottom.</h2>
                            <p class="lead weight-regular color-white mb-0">General George Patton</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Hero 2 Section End -->
        <!-- Pricing Options -->
        <section id="web-pricing" class="section-block bkg-grey-ultralight">
            <div class="row flex">
                <div class="column width-4">
                    <h3 class="mb-50 no-padding-on-mobile">Pricing</h3>
                    <p class="lead font-alt-2">Two simple plans to help you get started.</p>
                </div>
                <div class="column width-8">
                    <div class="pricing-table rounded xlarge style-2 columns-2 mb-0">
                        <div class="pricing-table-column">
                            <div class="pricing-table-header center">
                                <h2 class="weight-bold">Standard</h2>
                            </div>
                            <div class="pricing-table-price color-theme">
                                <h4>
                                    Free
                                    <span class="interval">-</span>
                                </h4>
                            </div>
                            <hr>
                            <div class="pricing-table-text">
                                <p>We offer a standard version which is completely free of charge, sign-up now.</p>
                            </div>
                            <div class="pricing-table-footer">
                                <a href="#" class="button rounded border-grey-light bkg-hover-green color-grey color-hover-white mb-mobile-40">Sign Up!</a>
                            </div>
                        </div>
                        <div class="pricing-table-column bkg-white callout">
                            <div class="pricing-table-header color-theme">
                                <h2 class="weight-bold">Premium</h2>
                            </div>
                            <div class="pricing-table-price color-theme">
                                <h4>
                                    <span class="currency">R</span>69.00
                                    <span class="interval">per annum</span>
                                </h4>
                            </div>
                            <hr>
                            <div class="pricing-table-text">
                                <p>Access full platform + 
                                advanced tools and kits.</p>
                            </div>
                            <div class="pricing-table-footer">
                                <a href="#" class="button rounded bkg-theme bkg-hover-green color-white color-hover-white mb-mobile-40">Sign Up!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Options End -->

    </div>
    <!-- Content End -->

</body>
</html>
