﻿@{
    ViewBag.Title = "Home";
}
<!-- LOAD JQUERY LIBRARY -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="~/Slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="~/Slider/revolution/fonts/font-awesome/css/font-awesome.css">

<!-- LOADING FONTS AND ICONS -->
<link href="http://fonts.googleapis.com/css?family=Montserrat%3A700" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

<!-- REVOLUTION STYLE SHEETS -->
<link rel="stylesheet" type="text/css" href="~/Slider/revolution/css/settings.css">

<!-- REVOLUTION LAYERS STYLES -->
<style type="text/css">
    .tiny_bullet_slider .tp-bullet:before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 25px;
        top: -12px;
        left: 0px;
        background: transparent;
    }
</style>
<style type="text/css">
    #rev_slider_26_1 .uranus.tparrows {
        width: 50px;
        height: 50px;
        background: rgba(255,255,255,0);
    }

        #rev_slider_26_1 .uranus.tparrows:before {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 40px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
        }

        #rev_slider_26_1 .uranus.tparrows:hover:before {
            opacity: 0.75;
        }

    .bullet-bar.tp-bullets {
    }

        .bullet-bar.tp-bullets:before {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
            padding: 10px;
            margin-left: -10px;
            margin-top: -10px;
            box-sizing: content-box;
        }

    .bullet-bar .tp-bullet {
        width: 60px;
        height: 3px;
        position: absolute;
        background: #aaa;
        background: rgba(204,204,204,0.5);
        cursor: pointer;
        box-sizing: content-box;
    }

        .bullet-bar .tp-bullet:hover, .bullet-bar .tp-bullet.selected {
            background: rgba(204,204,204,1);
        }

    .bullet-bar .tp-bullet-image {
    }

    .bullet-bar .tp-bullet-title {
    }
</style>

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="~/Slider/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLICEY ADD-ON FILES -->
<script type='text/javascript' src='revolution-addons/slicey/js/revolution.addon.slicey.min.js?ver=1.0.0'></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- HEADER -->
<article class="content">
    <!-- Add your site or application content here -->
    <section class="header">
        <div class="clearfix"></div>
    </section>
</article>
<!-- SLIDER EXAMPLE -->
<section class="example">
    <article class="content">

        <div id="rev_slider_26_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="mask-showcase" data-source="gallery" style="background:#aaaaaa;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="rev_slider_26_1" class="rev_slider fullscreenbanner tiny_bullet_slider" style="display:none;" data-version="5.4.1">
                <ul>
                    <li data-index="rs-3200" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/assets/images/HomeBG.jpg" alt="" data-bgcolor="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption  "
                             id="slide-3200-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['170','170','170','66']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;border-width:0px;"><img src="~/Content/assets/images/R_dotted.png" alt="" data-ww="['6px','6px','6px','6px']" data-hh="['190px','190px','190px','190px']" width="12" height="380" data-no-retina></div>
                        <!-- LAYER TO ADD CAREERWIZ FIRST-->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3194-layer-6"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['70','70','70','70']"
                             data-width="['480','400','480','320']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textalign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 11; min-width: 480px; max-width: 480px; white-space: normal; font-size: 17px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;border-width:0px;">
                            <img src="~/Content/assets/images/Logo-Normal-White-02.png" />
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption R_title  "
                             id="slide-3200-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-25','-25','-20','-80']"
                             data-fontsize="['70','70','50','30']"
                             data-lineheight="['75','75','55','35']"
                             data-width="['640','640','420','320']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6; min-width: 640px; font-family:Monoton; color:#fff; max-width: 640px; white-space: normal;">
                            Thought Leaders<br />In<br />Education
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption  "
                        id="slide-3200-layer-3"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['252','252','160','160']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="image"
                        data-basealign="slide"
                        data-responsive_offset="off"
                        data-responsive="off"
                        data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                        data-textalign="['left','left','left','left']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 7;border-width:0px;">
                        <div class="rs-looped rs-slideloop" data-easing="Power4.easeInOut" data-speed="3" data-xs="0" data-xe="0" data-ys="-120" data-ye="0"><img src="~/Content/assets/images/R_arrow.png" alt="" data-ww="['30px','30px','30px','30px']" data-hh="['39px','39px','39px','39px']" width="60" height="78" data-no-retina> </div>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    @*<li data-index="rs-3200" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/assets/images/imgBG.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption  "
                                 id="slide-3200-layer-2"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['170','170','170','66']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="image"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 5;border-width:0px;"><img src="~/Content/assets/images/R_dotted.png" alt="" data-ww="['6px','6px','6px','6px']" data-hh="['190px','190px','190px','190px']" width="12" height="380" data-no-retina></div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption R_title  "
                                 id="slide-3200-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-20','-80']"
                                 data-fontsize="['70','70','50','30']"
                                 data-lineheight="['75','75','55','35']"
                                 data-width="['640','640','420','320']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; min-width: 640px; font-family:Monoton; color:#fff; max-width: 640px; white-space: normal;">
                                Thought Leaders<br />In<br />Education
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption  "
                                 id="slide-3200-layer-3"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['274','274','274','150']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="image"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7;border-width:0px;">
                                <div class="rs-looped rs-slideloop" data-easing="Power4.easeInOut" data-speed="3" data-xs="0" data-xe="0" data-ys="-120" data-ye="0"><img src="~/Content/assets/images/R_arrow.png" alt="" data-ww="['30px','30px','30px','30px']" data-hh="['39px','39px','39px','39px']" width="60" height="78" data-no-retina> </div>
                            </div>
                        </li>*@
                    <!-- SLIDE  -->
                    <!-- SLIDE  -->
                    <li data-index="rs-3194" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/assets/images/transTest.png" alt="" data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"x:300px;opacity:0;","ease":"Power3.easeInOut"}]' data-bgcolor="#2f3b4a" data-lazyload="~/Content/assets/images/transTest.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption  "
                             id="slide-3194-layer-15"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['90','90','50','50']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"x:300px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;border-width:0px;"><img src="~/Content/assets/images/dummy.png" alt="" data-ww="['6px','6px','6px','6px']" data-hh="['190px','190px','190px','190px']" width="12" height="380" data-lazyload="~/Content/assets/images/R_dotted.png" data-no-retina></div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption  "
                             id="slide-3194-layer-16"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['170','170','130','130']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6;border-width:0px;"><img src="~/Content/assets/images/dummy.png" alt="" data-ww="['30px','30px','30px','30px']" data-hh="['30px','30px','30px','30px']" width="60" height="60" data-lazyload="~/Content/assets/images/R_line.png" data-no-retina></div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                             id="slide-3194-layer-10"
                             data-x="['right','right','center','center']" data-hoffset="['-68','-53','-20','-13']"
                             data-y="['top','top','top','top']" data-voffset="['120','150','344','354']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"x:300px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 7;border-width:0px;"><img src="~/Content/assets/images/R_ipad2-1.png" alt="" data-ww="['780px','620px','600px','400px']" data-hh="['600px','477px','462px','308px']" width="1300" height="1000" data-lazyload="~/Content/assets/images/R_ipad2-1.png" data-no-retina></div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme  disabled_lc rs-parallaxlevel-2 tp-videolayer"
                             id="slide-3194-layer-11"
                             data-x="['right','right','center','center']" data-hoffset="['0','2','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['221','231','422','406']"
                             data-whitespace="nowrap"
                             data-type="video"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"x:300px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-videocontrols="none" data-videowidth="['590px','468px','453px','302px']" data-videoheight="['435px','345px','334px','223px']" data-videoposter="~/Content/assets/images/tp_vid_streets.jpg" data-videomp4="assets/videos/tp_vid_streets.mp4" data-noposteronmobile="off" data-videopreload="auto" data-videoloop="loop" data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-autoplay="on"
                             data-volume="mute"
                             style="z-index: 8;border-width:0px;"></div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  tp-colorchange tp-lowopacity rs-parallaxlevel-2"
                             id="slide-3194-layer-13"
                             data-x="['right','right','center','center']" data-hoffset="['0','2','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['221','231','422','406']"
                             data-width="['590','468','453','302']"
                             data-height="['435','345','334','223']"
                             data-whitespace="nowrap"
                             data-type="shape"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"x:300px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 9;background-image:url('~/Content/assets/images/imgChooseSubjects.jpg');border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme tp-svg-layer rs-parallaxlevel-2"
                             id="slide-3194-layer-14"
                             data-x="['right','right','center','center']" data-hoffset="['255','189','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['393','358','544','482']"
                             data-width="['90','90','90','70']"
                             data-height="['90','90','90','70']"
                             data-whitespace="normal"
                             data-type="svg"
                             data-svg_src="~/Content/assets/images/ic_videocam_24px.svg"
                             data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"x:300px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 10; min-width: 90px; max-width: 90px; max-width: 90px; max-width: 90px; color: rgba(255, 255, 255, 1.00);border-width:0px;"></div>
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3194-layer-6"
                             data-x="['left','left','center','center']" data-hoffset="['30','50','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['252','252','48','48']"
                             data-width="['480','400','480','320']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textalign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 11; min-width: 480px; max-width: 480px; white-space: normal; font-size: 17px; line-height: 17px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;border-width:0px;">WELCOME TO</div>
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3194-layer-1"
                             data-x="['left','left','center','center']" data-hoffset="['30','50','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['279','281','78','78']"
                             data-fontsize="['40','40','40','30']"
                             data-lineheight="['45','45','45','35']"
                             data-width="['480','400','480','320']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textalign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 12; min-width: 480px; max-width: 480px; white-space: normal; font-size: 40px; line-height: 45px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:'Monoton', cursive;border-width:0px;">WizFeed</div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3194-layer-7"
                             data-x="['left','left','center','center']" data-hoffset="['30','50','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['348','348','145','137']"
                             data-width="['480','400','480','320']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textalign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 13; min-width: 480px; max-width: 480px; white-space: normal; font-size: 18px; line-height: 26px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;border-width:0px;">
                             Up to date, real-time videos, articles and podcasts on market demands and global trends to catapult your career
                        </div>
                        <!-- LAYER NR. 10 -->
                        @*<div class="tp-caption rev-btn  tp-resizeme"
                            id="slide-3194-layer-8"
                            data-x="['left','left','center','center']" data-hoffset="['199','179','-36','-37']"
                            data-y="['top','top','top','top']" data-voffset="['460','458','257','265']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                            data-responsive_offset="on"
                            data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(0, 0, 0, 1.00);bs:solid;"}]'
                            data-textalign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[30,30,30,30]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[30,30,30,30]"
                            style="z-index: 14; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0);border-width:0px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-chevron-left"></i></div>*@
                        <!-- LAYER NR. 11 -->
                        @*<div class="tp-caption rev-btn  tp-resizeme"
                            id="slide-3194-layer-12"
                            data-x="['left','left','center','center']" data-hoffset="['272','252','37','36']"
                            data-y="['top','top','top','top']" data-voffset="['460','458','257','265']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"
                            data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                            data-responsive_offset="on"
                            data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(0, 0, 0, 1.00);bs:solid;"}]'
                            data-textalign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[30,30,30,30]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[30,30,30,30]"
                            style="z-index: 15; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0);border-width:0px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-chevron-right"></i></div>*@
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3198" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/assets/images/transBgGrey.png" alt="" data-bgcolor="#e7ed49" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption  "
                             id="slide-3198-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['90','90','50','50']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;border-width:0px;"><img src="~/Content/assets/images/R_dotted.png" alt="" data-ww="['6px','6px','6px','6px']" data-hh="['190px','190px','190px','190px']" width="12" height="380" data-no-retina></div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption  "
                             id="slide-3198-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['170','170','130','130']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-responsive_offset="off"
                             data-responsive="off"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6;border-width:0px;"><img src="~/Content/assets/images/R_plus.png" alt="" data-ww="['30px','30px','30px','30px']" data-hh="['30px','30px','30px','30px']" width="60" height="60" data-no-retina></div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                             id="slide-3198-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['-250','-250','-250','-247']"
                             data-y="['top','top','top','top']" data-voffset="['82','82','62','33']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;rZ:5;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 7;border-width:0px;"><img src="~/Content/assets/images/R_phone.png" alt="" data-ww="['500px','500px','500px','350px']" data-hh="['664px','664px','664px','465px']" width="700" height="930" data-no-retina></div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                             id="slide-3198-layer-5"
                             data-x="['center','center','center','center']" data-hoffset="['-241','-241','-241','-241']"
                             data-y="['top','top','top','top']" data-voffset="['196','196','176','113']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;rZ:5;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 8;border-width:0px;"><img src="~/Content/assets/images/R_phonepic.jpg" alt="" data-ww="['239px','239px','239px','167px']" data-hh="['424px','424px','424px','296px']" width="478" height="848" data-no-retina></div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  tp-colorchange tp-lowopacity rs-parallaxlevel-2"
                             id="slide-3198-layer-9"
                             data-x="['center','center','center','center']" data-hoffset="['-241','-241','-241','-241']"
                             data-y="['top','top','top','top']" data-voffset="['196','196','176','113']"
                             data-width="['239','239','239','167']"
                             data-height="['424','424','424','296']"
                             data-whitespace="nowrap"
                             data-type="shape"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;rZ:5;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 9;background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme tp-svg-layer rs-parallaxlevel-2"
                             id="slide-3198-layer-10"
                             data-x="['center','center','center','center']" data-hoffset="['-241','-241','-241','-241']"
                             data-y="['top','top','top','top']" data-voffset="['362','362','342','218']"
                             data-width="['90','90','90','70']"
                             data-height="['90','90','90','70']"
                             data-whitespace="nowrap"
                             data-type="svg"
                             data-svg_src="~/Content/assets/images/ic_dashboard_24px.svg"
                             data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;rZ:5;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 10; min-width: 90px; max-width: 90px; max-width: 90px; max-width: 90px; color: rgba(255, 255, 255, 1.00);border-width:0px;"></div>
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3198-layer-6"
                             data-x="['left','left','left','left']" data-hoffset="['618','510','386','140']"
                             data-y="['top','top','top','top']" data-voffset="['252','252','160','160']"
                             data-width="['480','480','320','300']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 11; min-width: 480px; max-width: 480px; white-space: normal; font-size: 17px; line-height: 17px; font-weight: 700; color:#333333;font-family:Montserrat;border-width:0px;">EASILY MEASURE</div>
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3198-layer-1"
                             data-x="['left','left','left','left']" data-hoffset="['618','510','386','140']"
                             data-y="['top','top','top','top']" data-voffset="['281','281','189','192']"
                             data-fontsize="['40','40','40','30']"
                             data-lineheight="['45','45','45','35']"
                             data-width="['480','480','320','300']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 12; min-width: 480px; max-width: 480px; white-space: normal; font-size: 40px; line-height: 45px; font-weight: 300; color:#333333;font-family:'Monoton', cursive;;border-width:0px;">Your Aptitude</div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3198-layer-7"
                             data-x="['left','left','left','left']" data-hoffset="['618','510','386','140']"
                             data-y="['top','top','top','top']" data-voffset="['348','348','302','250']"
                             data-width="['480','480','320','300']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 13; min-width: 480px; max-width: 480px; white-space: normal; font-size: 18px; line-height: 26px; font-weight: 400; color:#333;font-family:Montserrat;border-width:0px;">
                             Know and understand yourself more >> take informed decisions >> maximise on career opportunities
                        </div>
                        <!-- LAYER NR. 10 -->
                        <a class="tp-caption rev-btn  tp-resizeme  tp-rs-menulink"
                           href="#info" target="_self" id="slide-3198-layer-8"
                           data-x="['left','left','left','left']" data-hoffset="['618','510','386','140']"
                           data-y="['top','top','top','top']" data-voffset="['460','460','440','388']"
                           data-width="none"
                           data-height="none"
                           data-whitespace="nowrap"
                           data-type="button"
                           data-actions=''
                           data-responsive_offset="on"
                           data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(0, 0, 0, 1.00);bs:solid;"}]'
                           data-textalign="['center','center','center','center']"
                           data-paddingtop="[0,0,0,0]"
                           data-paddingright="[40,40,40,40]"
                           data-paddingbottom="[0,0,0,0]"
                           data-paddingleft="[40,40,40,40]"
                           style="z-index: 14; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0);border-width:0px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">LETS BEGIN</a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3190" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Content/assets/images/transBgBlue.png" alt="" data-bgcolor="#cccccc" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                             id="slide-3190-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['-173','-173','-173','-123']"
                             data-y="['top','top','top','top']" data-voffset="['-70','-70','-70','-40']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="image"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;rZ:-5;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;border-width:0px;"><img src="~/Content/assets/images/R_watch-1.png" alt="" data-ww="['500px','500','500','350px']" data-hh="['500px','500','500','350px']" width="500" height="500" data-no-retina></div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  tp-colorchange rs-parallaxlevel-2"
                             id="slide-3190-layer-9"
                             data-x="['center','center','center','center']" data-hoffset="['2','2','2','-1']"
                             data-y="['top','top','top','top']" data-voffset="['167','167','167','128']"
                             data-width="['74','74','74','50']"
                             data-height="['88','88','88','59']"
                             data-whitespace="nowrap"
                             data-type="shape"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;rZ:-5;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6;background-color:rgba(85, 85, 85, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme tp-svg-layer rs-parallaxlevel-2"
                             id="slide-3190-layer-10"
                             data-x="['center','center','center','center']" data-hoffset="['2','2','2','0']"
                             data-y="['top','top','top','top']" data-voffset="['192','192','192','146']"
                             data-width="['40','40','40','25']"
                             data-height="['40','40','40','25']"
                             data-whitespace="nowrap"
                             data-type="svg"
                             data-svg_src="~/Content/assets/images/ic_favorite_24px.svg"
                             data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:150px;opacity:0;","speed":1000,"to":"o:1;rZ:-5;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['left','left','left','left']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 7; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; color: rgba(255, 255, 255, 1.00);border-width:0px;"></div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3190-layer-6"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['400','400','400','300']"
                             data-width="['480','480','480','300']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 8; min-width: 480px; max-width: 480px; white-space: normal; font-size: 17px; line-height: 17px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;border-width:0px;">MADE WITH LOVE</div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3190-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['429','429','429','332']"
                             data-fontsize="['40','40','40','30']"
                             data-lineheight="['45','45','45','35']"
                             data-width="['480','480','480','300']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 9; min-width: 480px; max-width: 480px; white-space: normal; font-size: 40px; line-height: 45px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:'Monoton', cursive;;border-width:0px;">Get in Touch Today</div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-3190-layer-7"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['497','497','497','390']"
                             data-width="['480','480','480','300']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                             data-textalign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 10; min-width: 480px; max-width: 480px; white-space: normal; font-size: 18px; line-height: 26px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;border-width:0px;">
                            UNIT E09, 10 VAN BEEK STREET, <br />
                            MABONENG, <br />
                            JOHANNESBURG
                        </div>
                        <!-- LAYER NR. 7 -->
                        <a class="tp-caption rev-btn  tp-resizeme"
                           href="mailto:sifiso@careerwiz.co.za" id="slide-3190-layer-11"
                           data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                           data-y="['top','top','top','top']" data-voffset="['610','610','610','503']"
                           data-width="none"
                           data-height="none"
                           data-whitespace="nowrap"
                           data-type="button"
                           data-actions=''
                           data-responsive_offset="on"
                           data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(0, 0, 0, 1.00);bs:solid;"}]'
                           data-textalign="['center','center','center','center']"
                           data-paddingtop="[0,0,0,0]"
                           data-paddingright="[40,40,40,40]"
                           data-paddingbottom="[0,0,0,0]"
                           data-paddingleft="[40,40,40,40]"
                           style="z-index: 11; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0);border-width:0px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            EMAIL US NOW
                        </a>
                    </li>
                </ul>
                <div class="tp-bannertimer" style="height: 6px; background: rgba(0, 0, 0, 0.15);"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </article>
</section>

<script type="text/javascript" src="~/Slider/assets/warning.js"></script>
<script type="text/javascript">

            var tpj = jQuery;
            var revapi26;
            tpj(document).ready(function () {
                if (tpj("#rev_slider_26_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_26_1");
                } else {
                    revapi26 = tpj("#rev_slider_26_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "~/Slider/revolution/js/",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "off",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            }
                            ,
                            arrows: {
                                style: "uranus",
                                enable: true,
                                hide_onmobile: true,
                                hide_under: 778,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 15,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 15,
                                    v_offset: 0
                                }
                            }
                            ,
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "bullet-bar",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 30,
                                space: 5,
                                tmp: ''
                            }
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: [1240, 1024, 778, 480],
                        gridheight: [868, 768, 960, 720],
                        lazyType: "none",
                        parallax: {
                            type: "scroll",
                            origo: "slidercenter",
                            speed: 2000,
                            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "60px",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                }
            });	/*ready*/
</script>
