﻿@{
    ViewBag.Title = "Home";
}
<!-- LOAD JQUERY LIBRARY -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="~/Slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="~/Slider/revolution/fonts/font-awesome/css/font-awesome.css">

<!-- REVOLUTION STYLE SHEETS -->
<link rel="stylesheet" type="text/css" href="~/Slider/revolution/css/settings.css">
<!-- REVOLUTION LAYERS STYLES -->
<link rel="stylesheet" type="text/css" href="~/Slider/revolution/css/layers.css">

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="~/Slider/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="~/Slider/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- SLIDER EXAMPLE -->
<section class="example">
    <article class="content">

        <section class="example">
            <article class="content">

                <div id="rev_slider_975_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="agency-website" data-source="gallery" style="background-color:#333333;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                    <div id="rev_slider_975_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-2730" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="assets/images/dummy.png" data-bgcolor="#f87c09" alt="" data-lazyload="assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption   rs-parallaxlevel-5"
                                     id="slide-2730-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','-30','0','0']"
                                     data-y="['middle','middle','bottom','bottom']" data-voffset="['0','0','40','0']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 5;text-transform:left;border-width:0px;"><img src="assets/images/dummy.png" alt="" data-ww="['1000px','800px','600px','500px']" data-hh="['600px','480px','360px','300px']" width="1000" height="600" data-lazyload="assets/images/macbookpro.png" data-no-retina></div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption   rs-parallaxlevel-5"
                                     id="slide-2730-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['0','-30','0','0']"
                                     data-y="['middle','middle','bottom','bottom']" data-voffset="['-14','-10','105','55']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power3.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 6;text-transform:left;border-width:0px;"><img src="assets/images/dummy.png" alt="" data-ww="['654px','524px','392','326px']" data-hh="['409px','328px','245','204px']" width="654" height="409" data-lazyload="assets/images/screen1_content.jpg" data-no-retina></div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2730-layer-3"
                                     data-x="['right','right','center','center']" data-hoffset="['20','0','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['0','0','130','120']"
                                     data-width="300"
                                     data-height="330"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0.50);border-width:0px;"></div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Agency-SmallTitle   tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2730-layer-4"
                                     data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['-98','-98','164','154']"
                                     data-width="260"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 8; min-width: 260px; max-width: 260px; white-space: normal;text-transform:left;">
                                    <span style="color:#f87c09;font-weight:700 !important;">OUR DESIGN</span>
                                    COLORFUL LIKE NATURE
                                </div>
                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption Agency-SmallContent   tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2730-layer-5"
                                     data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['20','20','255','246']"
                                     data-width="260"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2150,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 9; min-width: 260px; max-width: 260px; white-space: normal; color: rgba(255, 255, 255, 0.35);text-transform:left;">When you come across someone colorful and vibrant maybe in the present it isn't so interesting, but, in the past, it sheds a wonderful light onto living life.</div>
                                <!-- LAYER NR. 6 -->
                                <a class="tp-caption Agency-SmallLink   tp-resizeme rs-parallaxlevel-3" href="mailto:swag@themepunch.com" target="_self" id="slide-2730-layer-6"
                                   data-x="['right','right','center','center']" data-hoffset="['100','80','0','0']"
                                   data-y="['middle','middle','top','top']" data-voffset="['108','109','392','382']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="nowrap"
                                   data-type="text"
                                   data-actions=''
                                   data-responsive_offset="on"
                                   data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2300,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                                   data-textalign="['center','center','center','center']"
                                   data-paddingtop="[0,0,0,0]"
                                   data-paddingright="[0,0,0,0]"
                                   data-paddingbottom="[0,0,0,0]"
                                   data-paddingleft="[0,0,0,0]"
                                   style="z-index: 10; white-space: nowrap;text-transform:left;cursor:pointer;">CONTACT US HERE</a>
                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2730-layer-8"
                                     data-x="['right','right','center','center']" data-hoffset="['71','51','175','175']"
                                     data-y="['middle','middle','top','top']" data-voffset="['190','190','181','171']"
                                     data-width="50"
                                     data-height="50"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":2400,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);bs:solid;"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 11; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(248, 124, 9, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-angle-left"></i></div>
                                <!-- LAYER NR. 8 -->
                                <div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2730-layer-7"
                                     data-x="['right','right','center','center']" data-hoffset="['20','0','175','175']"
                                     data-y="['middle','middle','top','top']" data-voffset="['190','190','130','120']"
                                     data-width="50"
                                     data-height="50"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":2500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);bs:solid;"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 12; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(248, 124, 9, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-angle-right"></i></div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-2731" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Responsive" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="assets/images/dummy.png" data-bgcolor="#6db19b" alt="" data-lazyload="assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption   rs-parallaxlevel-5"
                                     id="slide-2731-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['70','20','60','20']"
                                     data-y="['middle','middle','bottom','bottom']" data-voffset="['0','0','30','20']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 13;text-transform:left;border-width:0px;"><img src="assets/images/dummy.png" alt="" data-ww="['430px','430px','360px','200px']" data-hh="['540px','540px','452px','251px']" width="430" height="540" data-lazyload="assets/images/ipad.png" data-no-retina></div>
                                <!-- LAYER NR. 10 -->
                                <div class="tp-caption   rs-parallaxlevel-5"
                                     id="slide-2731-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['70','20','60','20']"
                                     data-y="['middle','middle','bottom','bottom']" data-voffset="['5','5','97','56']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power3.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 14;text-transform:left;border-width:0px;"><img src="assets/images/dummy.png" alt="" data-ww="['290px','290px','242px','134px']" data-hh="['372px','372px','310px','172px']" width="290" height="372" data-lazyload="assets/images/owl1.jpg" data-no-retina></div>
                                <!-- LAYER NR. 11 -->
                                <div class="tp-caption   rs-parallaxlevel-4"
                                     id="slide-2731-layer-9"
                                     data-x="['center','center','center','center']" data-hoffset="['-112','-158','-92','-57']"
                                     data-y="['middle','middle','bottom','bottom']" data-voffset="['60','60','15','14']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"x:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power3.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 15;text-transform:left;border-width:0px;"><img src="assets/images/dummy.png" alt="" data-ww="['260px','260px','220px','120px']" data-hh="['450px','450px','381px','208px']" width="260" height="450" data-lazyload="assets/images/ihpone.png" data-no-retina></div>
                                <!-- LAYER NR. 12 -->
                                <div class="tp-caption   rs-parallaxlevel-4"
                                     id="slide-2731-layer-10"
                                     data-x="['center','center','center','center']" data-hoffset="['-111','-157','-92','-57']"
                                     data-y="['middle','middle','bottom','bottom']" data-voffset="['60','60','85','51']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power3.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 16;text-transform:left;border-width:0px;"><img src="assets/images/dummy.png" alt="" data-ww="['170px','170px','144px','78px']" data-hh="['286px','286px','242px','131px']" width="170" height="286" data-lazyload="assets/images/owl2.jpg" data-no-retina></div>
                                <!-- LAYER NR. 13 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2731-layer-3"
                                     data-x="['right','right','center','center']" data-hoffset="['20','0','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['0','0','130','120']"
                                     data-width="300"
                                     data-height="330"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 17;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0.50);border-width:0px;"></div>
                                <!-- LAYER NR. 14 -->
                                <div class="tp-caption Agency-SmallTitle   tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2731-layer-4"
                                     data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['-98','-98','164','154']"
                                     data-width="260"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 18; min-width: 260px; max-width: 260px; white-space: normal;text-transform:left;">
                                    <span style="color:#6db19b;font-weight:700 !important;">RESPONSIVE</span><br />
                                    FOR MOBILE PERFECTION
                                </div>
                                <!-- LAYER NR. 15 -->
                                <div class="tp-caption Agency-SmallContent   tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2731-layer-5"
                                     data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['9','8','255','245']"
                                     data-width="260"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2150,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 19; min-width: 260px; max-width: 260px; white-space: normal; color: rgba(255, 255, 255, 0.35);text-transform:left;">
                                    Our Sliders don’t just look great on desktop devices, but scale down
                                    beautifully to work on mobile devices like smartphones or tablets.
                                </div>
                                <!-- LAYER NR. 16 -->
                                <a class="tp-caption Agency-SmallLinkGreen   tp-resizeme rs-parallaxlevel-3"
                                   href="mailto:swag@themepunch.com" target="_self" id="slide-2731-layer-6"
                                   data-x="['right','right','center','center']" data-hoffset="['100','80','0','0']"
                                   data-y="['middle','middle','top','top']" data-voffset="['108','109','392','382']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="nowrap"
                                   data-type="text"
                                   data-actions=''
                                   data-responsive_offset="on"
                                   data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2300,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                                   data-textalign="['center','center','center','center']"
                                   data-paddingtop="[0,0,0,0]"
                                   data-paddingright="[0,0,0,0]"
                                   data-paddingbottom="[0,0,0,0]"
                                   data-paddingleft="[0,0,0,0]"
                                   style="z-index: 20; white-space: nowrap;text-transform:left;cursor:pointer;">CONTACT US HERE</a>
                                <!-- LAYER NR. 17 -->
                                <div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2731-layer-8"
                                     data-x="['right','right','center','center']" data-hoffset="['71','51','175','175']"
                                     data-y="['middle','middle','top','top']" data-voffset="['190','190','181','171']"
                                     data-width="50"
                                     data-height="50"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":2400,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);bs:solid;"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 21; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(109, 177, 155, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-angle-left"></i></div>
                                <!-- LAYER NR. 18 -->
                                <div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2731-layer-7"
                                     data-x="['right','right','center','center']" data-hoffset="['20','0','175','175']"
                                     data-y="['middle','middle','top','top']" data-voffset="['190','190','130','120']"
                                     data-width="50"
                                     data-height="50"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":2500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);bs:solid;"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 22; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(109, 177, 155, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-angle-right"></i></div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-2732" data-transition="slideoverdown" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Ideas" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="assets/images/dummy.png" data-bgcolor="#000000" alt="" data-lazyload="assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 19 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-2732-layer-10"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:top;","speed":1500,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 23;text-transform:left;border-width:0px;"><img src="assets/images/dummy.png" alt="" data-ww="['1920px','1920px','1920px','1920px']" data-hh="['1280px','1280px','1280px','1280px']" width="1920" height="1280" data-lazyload="assets/images/light1.jpg" data-no-retina></div>
                                <!-- LAYER NR. 20 -->
                                <div class="tp-caption   tp-resizeme  lighton"
                                     id="slide-2732-layer-11"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="image"
                                     data-basealign="slide"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":"bytrigger","ease":"Power2.easeInOut"},{"delay":"bytrigger","speed":100,"to":"opacity:0;","ease":"nothing"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     data-lasttriggerstate="reset"
                                     style="z-index: 24;text-transform:left;border-width:0px;"><img src="assets/images/dummy.png" alt="" data-ww="['1920px','1920px','1920px','1920px']" data-hh="['1280px','1280px','1280px','1280px']" width="1920" height="1280" data-lazyload="assets/images/lighton1.png" data-no-retina></div>
                                <!-- LAYER NR. 21 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme  lightsensor"
                                     id="slide-2732-layer-14"
                                     data-x="['left','left','left','left']" data-hoffset="['220','104','-26','-168']"
                                     data-y="['top','top','top','top']" data-voffset="['129','77','178','51']"
                                     data-width="500"
                                     data-height="500"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-2732-layer-11","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-2732-layer-11","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slide-2732-layer-12","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slide-2732-layer-12","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slide-2732-layer-13","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slide-2732-layer-13","delay":""}]'
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 25;text-transform:left;background-color:rgba(0, 0, 0, 0);border-color:rgba(0, 0, 0, 0);border-width:0px;border-radius:500px 500px 500px 500px;cursor:pointer;">
                                    <div class="rs-looped rs-slideloop" data-easing="linearEaseNone" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="0"> </div>
                                </div>
                                <!-- LAYER NR. 22 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-2732-layer-12"
                                     data-x="['left','left','left','left']" data-hoffset="['58','-43','-169','-313']"
                                     data-y="['top','top','top','top']" data-voffset="['335','280','370','260']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-visibility="['on','on','off','off']"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"x:-50px;sX:0.2;sY:0.2;opacity:0;","speed":500,"to":"o:1;","delay":1000,"ease":"Back.easeOut"},{"delay":"wait","speed":500,"to":"auto:auto;","ease":"Back.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     data-lasttriggerstate="reset"
                                     style="z-index: 26;text-transform:left;border-width:0px;">
                                    <div class="rs-looped rs-slideloop" data-easing="Power2.easeInOut" data-speed="1" data-xs="-20" data-xe="0" data-ys="0" data-ye="0"><img src="assets/images/dummy.png" alt="" data-ww="['121px','121px','121px','121px']" data-hh="['53px','53px','53px','53px']" width="121" height="53" data-lazyload="assets/images/arrow4.png" data-no-retina> </div>
                                </div>
                                <!-- LAYER NR. 23 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-2732-layer-13"
                                     data-x="['left','left','left','left']" data-hoffset="['732','618','518','380']"
                                     data-y="['top','top','top','top']" data-voffset="['335','280','370','260']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-visibility="['on','on','off','off']"
                                     data-type="image"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"x:50px;sX:0.2;sY:0.2;opacity:0;","speed":500,"to":"o:1;rZ:180;","delay":1000,"ease":"Back.easeOut"},{"delay":"wait","speed":500,"to":"x:50px;sX:0.2;sY:0.2;opacity:0;","ease":"Back.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     data-lasttriggerstate="reset"
                                     style="z-index: 27;text-transform:left;border-width:0px;">
                                    <div class="rs-looped rs-slideloop" data-easing="Power2.easeInOut" data-speed="1" data-xs="20" data-xe="0" data-ys="0" data-ye="0"><img src="assets/images/dummy.png" alt="" data-ww="['121px','121px','121px','121px']" data-hh="['53px','53px','53px','53px']" width="121" height="53" data-lazyload="assets/images/arrow4.png" data-no-retina> </div>
                                </div>
                                <!-- LAYER NR. 24 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2732-layer-3"
                                     data-x="['right','right','center','center']" data-hoffset="['20','0','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['0','0','130','120']"
                                     data-width="300"
                                     data-height="330"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 28;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0.50);border-width:0px;"></div>
                                <!-- LAYER NR. 25 -->
                                <div class="tp-caption Agency-SmallTitle   tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2732-layer-4"
                                     data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['-98','-98','164','154']"
                                     data-width="260"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 29; min-width: 260px; max-width: 260px; white-space: normal;text-transform:left;">
                                    <span style="color:#999;font-weight:700 !important;">SPARKING</span><br />
                                    BRILLANT<br />IDEAS
                                </div>
                                <!-- LAYER NR. 26 -->
                                <div class="tp-caption Agency-SmallContent   tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2732-layer-5"
                                     data-x="['right','right','center','center']" data-hoffset="['40','20','0','0']"
                                     data-y="['middle','middle','top','top']" data-voffset="['-4','-3','255','245']"
                                     data-width="260"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2150,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 30; min-width: 260px; max-width: 260px; white-space: normal; color: rgba(255, 255, 255, 0.35);text-transform:left;">
                                    Simplicity is not the goal. It is the by-product of a good idea and modest expectations.
                                </div>
                                <!-- LAYER NR. 27 -->
                                <a class="tp-caption Agency-SmallLinkBlue   tp-resizeme rs-parallaxlevel-3"
                                   href="mailto:swag@themepunch.com" target="_self" id="slide-2732-layer-6"
                                   data-x="['right','right','center','center']" data-hoffset="['100','80','0','0']"
                                   data-y="['middle','middle','top','top']" data-voffset="['108','109','392','382']"
                                   data-width="none"
                                   data-height="none"
                                   data-whitespace="nowrap"
                                   data-type="text"
                                   data-actions=''
                                   data-responsive_offset="on"
                                   data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2300,"ease":"Power4.easeOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                                   data-textalign="['center','center','center','center']"
                                   data-paddingtop="[0,0,0,0]"
                                   data-paddingright="[0,0,0,0]"
                                   data-paddingbottom="[0,0,0,0]"
                                   data-paddingleft="[0,0,0,0]"
                                   style="z-index: 31; white-space: nowrap;text-transform:left;cursor:pointer;">CONTACT US HERE</a>
                                <!-- LAYER NR. 28 -->
                                <div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2732-layer-8"
                                     data-x="['right','right','center','center']" data-hoffset="['71','51','175','175']"
                                     data-y="['middle','middle','top','top']" data-voffset="['190','190','181','171']"
                                     data-width="50"
                                     data-height="50"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":2400,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);bs:solid;"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 32; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(153, 153, 153, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-angle-left"></i></div>
                                <!-- LAYER NR. 29 -->
                                <div class="tp-caption Agency-NavButton rev-btn  tp-resizeme rs-parallaxlevel-3"
                                     id="slide-2732-layer-7"
                                     data-x="['right','right','center','center']" data-hoffset="['20','0','175','175']"
                                     data-y="['middle','middle','top','top']" data-voffset="['190','190','130','120']"
                                     data-width="50"
                                     data-height="50"
                                     data-whitespace="nowrap"
                                     data-type="button"
                                     data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":2500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);bs:solid;"}]'
                                     data-textalign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 33; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: nowrap; color: rgba(153, 153, 153, 1.00);text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa-icon-angle-right"></i></div>
                            </li>
                        </ul>
                        <div style="" class="tp-static-layers">
                            <!-- LAYER NR. 30 -->
                            <div class="tp-caption   tp-static-layer"
                                 id="slider-975-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['30','30','20','10']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="image"
                                 data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slider-975-layer-14","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slider-975-layer-14","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slider-975-layer-3","delay":""},{"event":"mouseenter","action":"stoplayer","layer":"slider-975-layer-4","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slider-975-layer-3","delay":""},{"event":"mouseleave","action":"startlayer","layer":"slider-975-layer-4","delay":""}]'
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 34;text-transform:left;border-width:0px;cursor:pointer;"><img src="assets/images/dummy.png" alt="" data-ww="['92px','92px','92px','92px']" data-hh="['34px','34px','34px','34px']" width="184" height="68" data-lazyload="assets/images/whitehorse_logo.png" data-no-retina></div>
                            <!-- LAYER NR. 31 -->
                            <div class="tp-caption Agency-LogoText   tp-static-layer"
                                 id="slider-975-layer-2"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['65','65','55','45']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 35; white-space: nowrap;text-transform:left;">NYC</div>
                            <!-- LAYER NR. 32 -->
                            <div class="tp-caption Agency-LogoText   tp-static-layer"
                                 id="slider-975-layer-14"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['83','83','55','45']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":"bytrigger","split":"chars","splitdelay":0.02,"ease":"Power2.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
                                 data-textalign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-lasttriggerstate="reset"
                                 style="z-index: 36; white-space: nowrap;text-transform:left;">SOUTH MAIN STREET 542, T. 0800-987654</div>
                            <!-- LAYER NR. 33 -->
                            <div class="tp-caption   tp-resizeme tp-static-layer"
                                 id="slider-975-layer-3"
                                 data-x="['center','center','center','center']" data-hoffset="['110','120','120','120']"
                                 data-y="['top','top','top','top']" data-voffset="['53','63','63','63']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-visibility="['on','on','off','off']"
                                 data-type="image"
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"x:50px;sX:0.2;sY:0.2;opacity:0;","speed":500,"to":"o:1;","delay":1000,"ease":"Back.easeOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-lasttriggerstate="reset"
                                 style="z-index: 37;text-transform:left;border-width:0px;">
                                <div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="1px" data-origin="50% 50%"><img src="assets/images/dummy.png" alt="" data-ww="['100px','100px','100px','100px']" data-hh="['29px','29px','29px','29px']" width="100" height="29" data-lazyload="assets/images/arrow1.png" data-no-retina> </div>
                            </div>
                            <!-- LAYER NR. 34 -->
                            <div class="tp-caption Agency-ArrowTooltip   tp-resizeme tp-static-layer"
                                 id="slider-975-layer-4"
                                 data-x="['center','center','center','center']" data-hoffset="['178','188','188','188']"
                                 data-y="['top','top','top','top']" data-voffset="['75','85','85','85']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-visibility="['on','on','off','off']"
                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"z:0;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Back.easeOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-lasttriggerstate="reset"
                                 style="z-index: 38; white-space: nowrap;text-transform:left;">
                                <div class="rs-looped rs-wave" data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%">Hover Me </div>
                            </div>
                            <!-- LAYER NR. 35 -->
                            <div class="tp-caption   tp-resizeme tp-static-layer"
                                 id="slider-975-layer-5"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['44','54','54','54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-visibility="['on','on','off','off']"
                                 data-type="image"
                                 data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"y:-50px;sX:0.2;sY:0.2;opacity:0;","speed":500,"to":"o:1;","delay":2000,"ease":"Back.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 39;text-transform:left;border-width:0px;cursor:pointer;">
                                <div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="1px" data-origin="50% 50%"><img src="assets/images/dummy.png" alt="" data-ww="['79px','79px','79px','79px']" data-hh="['74px','74px','74px','74px']" width="79" height="74" data-lazyload="assets/images/arrow2.png" data-no-retina> </div>
                            </div>
                            <!-- LAYER NR. 36 -->
                            <div class="tp-caption Agency-ArrowTooltip   tp-resizeme tp-static-layer"
                                 id="slider-975-layer-6"
                                 data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','30','30','30']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-visibility="['on','on','off','off']"
                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"z:0;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":2250,"ease":"Back.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 40; white-space: nowrap;text-transform:left;">
                                <div class="rs-looped rs-wave" data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%">Scroll for More </div>
                            </div>
                            <!-- LAYER NR. 37 -->
                            <div class="tp-caption   tp-resizeme tp-static-layer"
                                 id="slider-975-layer-12"
                                 data-x="['right','right','right','right']" data-hoffset="['85','85','85','85']"
                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['63','73','73','73']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-visibility="['on','on','off','off']"
                                 data-type="image"
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"x:-50px;sX:0.2;sY:0.2;opacity:0;","speed":500,"to":"o:1;","delay":3000,"ease":"Back.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 41;text-transform:left;border-width:0px;cursor:pointer;">
                                <div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="1px" data-origin="50% 50%"><img src="assets/images/dummy.png" alt="" data-ww="['149px','149px','149px','149px']" data-hh="['49px','49px','49px','49px']" width="149" height="49" data-lazyload="assets/images/arrow3.png" data-no-retina> </div>
                            </div>
                            <!-- LAYER NR. 38 -->
                            <div class="tp-caption Agency-ArrowTooltip   tp-resizeme tp-static-layer"
                                 id="slider-975-layer-13"
                                 data-x="['right','right','right','right']" data-hoffset="['218','218','218','218']"
                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['49','59','59','59']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-visibility="['on','on','off','off']"
                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-startslide="0"
                                 data-endslide="2"
                                 data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":3250,"ease":"Back.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                 data-textalign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 42; white-space: nowrap;text-transform:left;">
                                <div class="rs-looped rs-wave" data-speed="1.5" data-angle="0" data-radius="1px" data-origin="50% 50%">Get in Touch </div>
                            </div>
                            <!-- LAYER NR. 39 -->
                            <a class="tp-caption Agency-SmallSocial   tp-static-layer"
                               href="mailto:swag@themepunch.com" target="_self" id="slider-975-layer-9"
                               data-x="['right','right','center','center']" data-hoffset="['120','120','-50','-50']"
                               data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"
                               data-width="30"
                               data-height="30"
                               data-whitespace="nowrap"
                               data-type="text"
                               data-actions=''
                               data-basealign="slide"
                               data-responsive_offset="off"
                               data-responsive="off"
                               data-startslide="0"
                               data-endslide="2"
                               data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);br:0px 0px 0px 0px;"}]'
                               data-textalign="['center','center','center','center']"
                               data-paddingtop="[0,0,0,0]"
                               data-paddingright="[0,0,0,0]"
                               data-paddingbottom="[0,0,0,0]"
                               data-paddingleft="[0,0,0,0]"
                               style="z-index: 43; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap;text-transform:left;cursor:pointer;"><i class="pe-7s-mail"></i></a>
                            <!-- LAYER NR. 40 -->
                            <a class="tp-caption Agency-SmallSocial   tp-static-layer"
                               href="https://www.facebook.com/themepunchofficial" target="_blank" id="slider-975-layer-10"
                               data-x="['right','right','center','center']" data-hoffset="['70','70','0','0']"
                               data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','19','19']"
                               data-width="30"
                               data-height="30"
                               data-whitespace="nowrap"
                               data-type="text"
                               data-actions=''
                               data-basealign="slide"
                               data-responsive_offset="off"
                               data-responsive="off"
                               data-startslide="0"
                               data-endslide="2"
                               data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);br:0px 0px 0px 0px;"}]'
                               data-textalign="['center','center','center','center']"
                               data-paddingtop="[0,0,0,0]"
                               data-paddingright="[0,0,0,0]"
                               data-paddingbottom="[0,0,0,0]"
                               data-paddingleft="[0,0,0,0]"
                               style="z-index: 44; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap; font-size: 25px;text-transform:left;cursor:pointer;"><i class="fa-icon-facebook"></i></a>
                            <!-- LAYER NR. 41 -->
                            <a class="tp-caption Agency-SmallSocial   tp-static-layer"
                               href="https://twitter.com/themepunch" target="_blank" id="slider-975-layer-11"
                               data-x="['right','right','center','center']" data-hoffset="['20','20','50','50']"
                               data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"
                               data-width="30"
                               data-height="30"
                               data-whitespace="nowrap"
                               data-type="text"
                               data-actions=''
                               data-basealign="slide"
                               data-responsive_offset="off"
                               data-responsive="off"
                               data-startslide="0"
                               data-endslide="2"
                               data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);br:0px 0px 0px 0px;"}]'
                               data-textalign="['center','center','center','center']"
                               data-paddingtop="[0,0,0,0]"
                               data-paddingright="[0,0,0,0]"
                               data-paddingbottom="[0,0,0,0]"
                               data-paddingleft="[0,0,0,0]"
                               style="z-index: 45; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap; font-size: 25px;text-transform:left;cursor:pointer;"><i class="fa-icon-twitter"></i></a>
                        </div>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
                <script type="text/javascript">
                    var tpj = jQuery;

                    var revapi975;
                    tpj(document).ready(function () {
                        if (tpj("#rev_slider_975_1").revolution == undefined) {
                            revslider_showDoubleJqueryError("#rev_slider_975_1");
                        } else {
                            revapi975 = tpj("#rev_slider_975_1").show().revolution({
                                sliderType: "standard",
                                jsFileLocation: "revolution/js/",
                                sliderLayout: "fullscreen",
                                dottedOverlay: "none",
                                delay: 9000,
                                navigation: {
                                    keyboardNavigation: "off",
                                    keyboard_direction: "horizontal",
                                    mouseScrollNavigation: "off",
                                    mouseScrollReverse: "default",
                                    onHoverStop: "off",
                                    touch: {
                                        touchenabled: "on",
                                        swipe_threshold: 75,
                                        swipe_min_touches: 50,
                                        swipe_direction: "horizontal",
                                        drag_block_vertical: false
                                    }
                                },
                                responsiveLevels: [1240, 1024, 778, 480],
                                visibilityLevels: [1240, 1024, 778, 480],
                                gridwidth: [1240, 1024, 778, 480],
                                gridheight: [868, 768, 960, 720],
                                lazyType: "smart",
                                parallax: {
                                    type: "scroll",
                                    origo: "enterpoint",
                                    speed: 400,
                                    levels: [5, 10, 15, 25, 20, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                                    type: "scroll",
                                },
                                shadow: 0,
                                spinner: "off",
                                stopLoop: "on",
                                stopAfterLoops: 0,
                                stopAtSlide: 1,
                                shuffle: "off",
                                autoHeight: "off",
                                fullScreenAutoWidth: "off",
                                fullScreenAlignForce: "off",
                                fullScreenOffsetContainer: "",
                                fullScreenOffset: "60px",
                                disableProgressBar: "on",
                                hideThumbsOnMobile: "off",
                                hideSliderAtLimit: 0,
                                hideCaptionAtLimit: 0,
                                hideAllCaptionAtLilmit: 0,
                                debugMode: false,
                                fallbacks: {
                                    simplifyAll: "off",
                                    nextSlideOnWindowFocus: "off",
                                    disableFocusListener: false,
                                }
                            });
                            jQuery('.lightsensor').on('mousemove', function () {
                                var time = Math.round(Math.random() * 20) / 100,
                                    alpha = 0.7 + (Math.random() * 3) / 10;
                                punchgs.TweenLite.to(jQuery('.lighton'), time, { autoAlpha: alpha, ease: punchgs.Power3.easeOut });
                            });
                        }
                    }); /*ready*/
                </script>

            </article>
        </section>
        <script type="text/javascript">
            var tpj = jQuery;

            var revapi975;
            tpj(document).ready(function () {
                if (tpj("#rev_slider_975_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_975_1");
                } else {
                    revapi975 = tpj("#rev_slider_975_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "~/Slider/revolution/js/",
                        sliderLayout: "fullscreen",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 50,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            }
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: [1240, 1024, 778, 480],
                        gridheight: [868, 768, 960, 720],
                        lazyType: "smart",
                        parallax: {
                            type: "scroll",
                            origo: "enterpoint",
                            speed: 400,
                            levels: [5, 10, 15, 25, 20, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                            type: "scroll",
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "on",
                        stopAfterLoops: 0,
                        stopAtSlide: 1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "60px",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                    jQuery('.lightsensor').on('mousemove', function () {
                        var time = Math.round(Math.random() * 20) / 100,
                            alpha = 0.7 + (Math.random() * 3) / 10;
                        punchgs.TweenLite.to(jQuery('.lighton'), time, { autoAlpha: alpha, ease: punchgs.Power3.easeOut });
                    });
                }
            }); /*ready*/
        </script>

    </article>
</section>
<div class="clearfix"></div>
<script type="text/javascript" src="~/Slider/assets/warning.js"></script>