﻿@model CareerWizCMS.Models.clsCareers

@{
    ViewBag.Title = "CareerAdd";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Career</h2>
            </header>
            <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmCareerAdd", @name = "frmCareerAdd" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4 class="mb-xlg">Career</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="strTitle">Career Title</label>
                            <div class="col-md-8">
                                @Html.EditorFor(Model => Model.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Career Title", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.strTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <hr />
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="strDescription">Description</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(Model => Model.strDescription, new { @id = "strDescription", @placeholder = "Description", @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="strExpectations">Expectations</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(Model => Model.strExpectations, new { @id = "strExpectations", @placeholder = "Expectations", @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="strRequiredSkills">Required Skills</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(Model => Model.strRequiredSkills, new { @id = "strRequiredSkills", @placeholder = "Required Skills", @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="strAverageSalary">Average Salary</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(Model => Model.strAverageSalary, new { @id = "strAverageSalary", @placeholder = "Average Salary", @class = "form-control", @rows = "4" })
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <hr />
                    </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("CareersView", "Careers")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
            }
                </div>
        </section>
    </div>
</div>
<!-- end: page -->

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Add Career | CareerWiz CMS");
        $("#h2PageHeader").text("Add Career");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("CareersView", "Careers")'>Careers</a></li>");
        $("#olBreadcrumbs").append("<li><span>Add Career</span></li>");
    }
</script>
