﻿@model CareerWizCMS.View_Models.Institutions.clsInstitutionEdit

@{
    ViewBag.Title = "InstitutionEdit";
}

@*Crop Slim Stylesheet*@
@Styles.Render("~/Content/cms/slimCropStylesheets")

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Institution</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmInstitutionEdit", @name = "frmInstitutionEdit" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.clsInstitution.iInstitutionID)
                    <div class="form-horizontal">
                        <h4 class="mb-xlg">Institution</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strTitle">Institution Title</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(Model => Model.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Institution Name", @readonly = "readonly", @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.strTitle, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </fieldset>
                        <hr class="dotted tall">
                        <h4 class="mb-xlg">Institution Type</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lstInstitutionTypes">Institution Type</label>
                                <div class="col-md-8">
                                    @if (Model.lstInstitutionTypes.Count > 0)
                                    {
                                        @Html.DropDownListFor(Model => Model.clsInstitution.iInstitutionTypeID, new SelectList(Model.lstInstitutionTypes, "iInstitutionTypeID", "strTitle"), "-- Select Institution --", new { id = "lstInstitutionTypes", name = "lstInstitutionTypes" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsInstitution.iInstitutionTypeID, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(Model => Model.clsInstitution.iInstitutionTypeID, new SelectList(Model.lstInstitutionTypes, "iInstitutionTypeID", "strTitle"), "-- No Institutions Available --", new { id = "lstInstitutionTypes", name = "lstInstitutionTypes" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsInstitution.iInstitutionTypeID, "", new { @class = "text-danger" })
                                    }
                                </div>
                            </div>
                        </fieldset>
                        <hr class="dotted tall">
                        <h4 class="mb-xlg">General Information</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strBiographicalInfo">Description Overview</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(Model => Model.clsInstitution.strDescriptionOverview, new { @id = "strDescriptionOverview", @placeholder = "Decription Overview", @class = "form-control", @rows = "2" })
                                    @Html.ValidationMessageFor(model => model.clsInstitution.strDescriptionOverview, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strBiographicalInfo">Full Description</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(Model => Model.clsInstitution.strDescription, new { @id = "strDescription", @placeholder = "Decription", @class = "form-control", @rows = "4" })
                                    @Html.ValidationMessageFor(model => model.clsInstitution.strDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strVisionMission">Full Description</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(Model => Model.clsInstitution.strVisionMission, new { @id = "strVisionMission", @placeholder = "Vision and Mission", @class = "form-control", @rows = "4" })
                                    @Html.ValidationMessageFor(model => model.clsInstitution.strVisionMission, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strCampusLife">Campus Life</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(Model => Model.clsInstitution.strCampusLife, new { @id = "strCampusLife", @placeholder = "Campus Life", @class = "form-control", @rows = "4" })
                                    @Html.ValidationMessageFor(model => model.clsInstitution.strCampusLife, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strImportantDatesInformation">Important Dates and Information</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(Model => Model.clsInstitution.strImportantDatesInformation, new { @id = "strImportantDatesInformation", @placeholder = "Important Dates and Information", @class = "form-control", @rows = "4" })
                                    @Html.ValidationMessageFor(model => model.clsInstitution.strImportantDatesInformation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strContactDetails">Contact Details</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(Model => Model.clsInstitution.strContactDetails, new { @id = "strContactDetails", @placeholder = "Contact Details", @class = "form-control", @rows = "2" })
                                    @Html.ValidationMessageFor(model => model.clsInstitution.strContactDetails, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strInstitutionURL">Institutional URL</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(Model => Model.clsInstitution.strInstitutionURL, new { htmlAttributes = new { @id = "strInstitutionURL", @placeholder = "Institution URL", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.clsInstitution.strInstitutionURL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </fieldset>
                        <hr class="dotted tall">
                        <h4 class="mb-xlg">Image</h4>
                        <fieldset>
                            <label class="col-md-3 control-label" for="lstInstitutionTypes">Upload Image</label>
                            <div class="col-md-4 col-lg-3">
                                <section class="panel">
                                    <div class="thumb-info mb-md">
                                        <div id="cropImageDiv" class="slim"
                                             data-size="600,300"
                                             data-ratio="2:1"
                                             data-label="Click to Upload or Drop Image Here"
                                             data-will-transform="getImageData">

                                            <input type="file" name="slim[]" />
                                            @if (Model.strFullImagePath == null)
                                            {
                                                <img src="~/Areas/CMS/Content/assets/images/default_institution_image.png" class="rounded img-responsive">
                                            }
                                            else
                                            {
                                                <img src="@Model.strFullImagePath" class="rounded img-responsive">
                                            }
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                        <div class="row">
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("InstitutionsView", "Institutions")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.strCropImageName)
                    @Html.HiddenFor(model => model.strCropImageData)
                }
            </div>
        </section>
    </div>
</div>
<!-- end: page -->

@*Crop Slim Script*@
@Scripts.Render("~/bundles/cms/slimCropScripts")

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Edit Institution | CareerWiz CMS");
        $("#h2PageHeader").text("Edit Institution");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("InstitutionsView", "Institutions")'>Institutions</a></li>");
        $("#olBreadcrumbs").append("<li><span>Edit Institution</span></li>");

        //CLEAR IMAGE DATA ON DELETE
        $(".slim-btn-remove").click(function () {
            $("#strCropImageName").val(null);
            $("#strCropImageData").val(null);
        });
    }
</script>

@**** CROP IMAGE FUNCTION ****@
<script type="text/javascript">

        function getImageData(data, ready) {
            var dataString = data.output.image.toDataURL();
            $("#strCropImageName").val(data.input.name);
            $("#strCropImageData").val(dataString);
            // continue saving the data
            ready(data);
        }
</script>