﻿@model CareerWizCMS.View_Models.Institutions.clsInstitutionsView

@{
    ViewBag.Title = "InstitutionsView";
}

@*Tables Stylesheet*@
@Styles.Render("~/Content/cms/tableStylesheets")

<!-- start: page -->

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            @*<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>*@
            @*<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>*@
        </div>

        <h2 class="panel-title">Institutions (@Model.lstInstitutions.Count)</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Institution</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstInstitutions)
                {
                    <tr data-item-id="@item.iInstitutionID" id="@item.iInstitutionID">
                        <td style="vertical-align: middle;">@item.strTitle</td>
                        <td style="vertical-align: middle;">@item.strDescription</td>
                        <td class="actions" style="font-size:2em; text-align:center;vertical-align:central">
                            <a href="@Url.Action("InstitutionEdit", "Institutions", new { @id = @item.iInstitutionID })"><i class="fa fa-pencil"></i></a>
                            &nbsp;&nbsp;&nbsp;
                            <a id="@item.iInstitutionID" class="modal-with-zoom-anim modal-basic" href="#deleteItemModal" onclick="deleteItemConfirm(@item.iInstitutionID)"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-md keep-right" style="float:right;">
                    <a id="btnInstitutionsImport" href="@Url.Action("InstitutionsImport", "Institutions")" class="btn btn-primary">Import Institutions <i class="fa fa-plus"></i></a>
                    <a id="btnInstitutionAdd" href="@Url.Action("InstitutionAdd", "Institutions")" class="btn btn-primary">Add Institution <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.HiddenFor(Model => Model.iInstitutionID)
<!-- end: page -->
<!-- Modal Animation -->
<!-- delete modal popup -->
<div id="deleteItemModal" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>Are you sure that you want to delete this institution?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm-close" onclick="deleteItem()">Confirm</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- delete item modal popup -->
<!-- information modal popup -->
<a id="infoItemModalAnchor" style="display:none;" class="mb-xs mt-xs mr-xs modal-basic btn btn-info" href="#infoItemModal"></a>

<div id="infoItemModal" class="modal-block modal-block-info mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Information</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="modal-text">
                    <p>There cannot be no institutions.</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-info modal-dismiss">OK</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- information modal popup -->
<!-- add item success -->
<script type="text/javascript">
    function addItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institution added successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- update item success -->
<script type="text/javascript">
    function updatedItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institution updated successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- delete item success -->
<script type="text/javascript">
    function deleteItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institution deleted successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- import institutions success -->
<script type="text/javascript">
    function importInstitutionsSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institutions imported successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<script type="text/javascript">
    function deleteItemConfirm(iItemID) {
        //SET ITEM ID TO DELETE
        $('#iInstitutionID').val(iItemID);
    }
</script>

<!-- delete item -->
<script type="text/javascript">
    function deleteItem() {

        var iInstitutionID = $('#iInstitutionID').val();

        if (iInstitutionID != 0) {
            $.ajax({
                url: '@Url.Action("InstitutionDelete", "Institutions")',
                type: "POST",
                data: { "iInstitutionID": iInstitutionID },
                success: function (info) {
                    // states is your JSON array
                    if (info.bIsSuccess == true) {
                        window.location.href = "/CMS/Institutions/InstitutionsView/";
                    }
                }
            });
        }
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("Institutions | CareerWiz CMS");
        $("#h2PageHeader").text("Institutions");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><span>Institutions</span></li>");

         @{
             //ADD SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionAdded"] != null)
            {
                if ((bool)TempData["bIsInstitutionAdded"] == true)
                {
                    <text>
                        addItemSuccess();
                    </text>
                }
            }
             //UPDATE SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionUpdated"] != null)
            {
                if ((bool)TempData["bIsInstitutionUpdated"] == true)
                {
                    <text>
                        updatedItemSuccess();
                    </text>
                }
            }
             //DELETE SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionDeleted"] != null)
            {
                if ((bool)TempData["bIsInstitutionDeleted"] == true)
                {
                    <text>
                        deleteItemSuccess();
                    </text>
                }
            }
             //IMPORT INSTITUTIONS SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionsImported"] != null)
            {
                if ((bool)TempData["bIsInstitutionsImported"] == true)
                {
                    <text>
                        importInstitutionsSuccess();
                    </text>
                }
            }
        }
    }
</script>