﻿
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Your-Title-Here" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Your-Image-Url" />
    <meta property="og:description" content="Your-Page-Description" />
    <title>Kant | Multipurpose HTML5 Template - Blog</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/theme-mountain-favicon.ico">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="shop blog">
    <!-- Side Navigation Menu -->
    <!-- Side Navigation Menu End -->
    <div class="wrapper reveal-side-navigation">
        <div class="wrapper-inner">
            <!-- Content -->
            <div class="content clearfix">
                <!-- Intro Title Section 2 -->
                <div class="section-block intro-title-1 small bkg-grey-ultralight">
                    <div class="row">
                        <div class="column width-12">
                            <div class="title-container">
                                <div class="title-container-inner">
                                    <h1 class="title-large mb-0">Wiz<span style="color:#ccdb2a"> Feed.</span></h1>
                                    <h4 class="color-grey-light">Up to date, real-time videos, articles and podcasts on market demands and global trends to catapult your career!</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Breadcrum -->
                <div class="section-block pt-50 pb-0">
                    <div class="row">
                        <div class="column width-12">
                            <ul class="breadcrumb left mb-50">
                                <li>
                                    <a href="index.html">Demos</a>
                                </li>
                                <li>
                                    <a href="index.html">Blog</a>
                                </li>
                                <li>
                                    Blog Masonry
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Breadcrum End -->
                <!-- Content Inner -->
                <div class="section-block content-inner pt-0">
                    <div class="blog-masonry grid-container fade-in-progressively" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-resize data-animate-resize-duration="700">
                        <div class="row">
                            <div class="column width-12">
                                <div class="row grid content-grid-2 clearfix">
                                    <div class="grid-item">
                                        <article class="post">
                                            <div class="post-info-aside">
                                                <span class="post-date">
                                                    <span class="day">05</span>
                                                    <span class="month">Jun</span>
                                                </span>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-media">
                                                    <div class="video-container no-margin-bottom">
                                                        <iframe src="https://player.vimeo.com/video/66061189?byline=0&amp;title=0&amp;loop=1&amp;color=3fb58b" width="1140" height="641"></iframe>
                                                    </div>
                                                </div>
                                                <div class="with-background">
                                                    <div class="post-info">
                                                        <span class="post-date hide show-on-mobile">05 Jun 2015,</span><span class="post-category">in Design</span>
                                                    </div>
                                                    <h2 class="post-title"><a href="blog-single-post-sidebar-right.html">An Awesomely Cool Video</a></h2>
                                                    <p>Integer sit amet lorem fringilla, interdum quam eu, lobortis quam. Sed porta lacus a rhoncus maximus. Duis eget neque leo. Nullam tempus lorem justo, a eleifend erat mollis id. Aliquam vitae..</p>
                                                    <a href="blog-single-post-sidebar-right.html" class="read-more"> Read More</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="grid-item">
                                        <article class="post">
                                            <div class="post-info-aside">
                                                <span class="post-date">
                                                    <span class="day">23</span>
                                                    <span class="month">May</span>
                                                </span>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-media">
                                                    <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
                                                        <a class="overlay-link" href="blog-single-post-sidebar-right.html">
                                                            <img src="../../images/blog/grid/landscape-margins-grid-4.jpg" alt="" />
                                                            <span class="overlay-info">
                                                                <span>
                                                                    <span>
                                                                        <span>More</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="with-background">
                                                    <div class="post-info">
                                                        <span class="post-date hide show-on-mobile">23 May 2015,</span><span class="post-category">in Design, Illustration</span>
                                                    </div>
                                                    <h2 class="post-title"><a href="blog-single-post-sidebar-right.html">Palm Prints and More</a></h2>
                                                    <p>Nam egestas felis in efficitur dapibus. Quisque lobortis risus id erat congue feugiat. Maecenas a eros luctus, maximus lorem ut, eleifend turpis. Nulla quis felis maximus lacus hendrerit facilisis a at ligula. Phasellus et velit eu justo consequat aliquam vitae at dui.</p>
                                                    <a href="blog-single-post-sidebar-right.html" class="read-more"> Read More</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="grid-item grid-sizer">
                                        <div class="post">
                                            <div class="post-info-aside">
                                                <span class="post-date">
                                                    <span class="day">07</span>
                                                    <span class="month">May</span>
                                                </span>
                                            </div>
                                            <div class="post-content">
                                                <div class="with-background">
                                                    <div class="post-info">
                                                        <span class="post-date hide show-on-mobile">07 May 2015,</span><span class="post-category">in Quotes</span>
                                                    </div>
                                                    <blockquote class="left xlarge">
                                                        <p>
                                                            Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it's really how it works.
                                                            <cite>Steve Jobs</cite>
                                                        </p>
                                                    </blockquote>
                                                    <a href="blog-single-post-sidebar-right.html" class="read-more"> Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <article class="post">
                                            <div class="post-info-aside">
                                                <span class="post-date">
                                                    <span class="day">15</span>
                                                    <span class="month">Apr</span>
                                                </span>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-media">
                                                    <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
                                                        <a class="overlay-link" href="blog-single-post-sidebar-right.html">
                                                            <img src="../../images/blog/grid/landscape-margins-grid-5.jpg" alt="" />
                                                            <span class="overlay-info">
                                                                <span>
                                                                    <span>
                                                                        <span>More</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="with-background">
                                                    <div class="post-info">
                                                        <span class="post-date hide show-on-mobile">15 Apr 2015,</span><span class="post-category">in Photography</span>
                                                    </div>
                                                    <h2 class="post-title"><a href="blog-single-post-sidebar-right.html">Stunning Arctic Photography</a></h2>
                                                    <p>Praesent tincidunt imperdiet lectus, et fermentum erat faucibus in. Duis convallis, risus vitae aliquam tristique, ipsum nulla mollis sem, sed rhoncus augue est id ligula.</p>
                                                    <a href="blog-single-post-sidebar-right.html" class="read-more"> Read More</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="grid-item">
                                        <article class="post">
                                            <div class="post-info-aside">
                                                <span class="post-date">
                                                    <span class="day">28</span>
                                                    <span class="month">Mar</span>
                                                </span>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-media">
                                                    <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
                                                        <a class="overlay-link" href="blog-single-post-sidebar-right.html">
                                                            <img src="../../images/blog/grid/portrait-margins-2.jpg" alt="" />
                                                            <span class="overlay-info">
                                                                <span>
                                                                    <span>
                                                                        <span>More</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="with-background">
                                                    <div class="post-info">
                                                        <span class="post-date hide show-on-mobile">28 Mar 2015,</span><span class="post-category">in Photography</span>
                                                    </div>
                                                    <h2 class="post-title"><a href="blog-single-post-sidebar-right.html">American Apparel Photoshoot</a></h2>
                                                    <p>Vestibulum sed vulputate nisi. Suspendisse volutpat vestibulum orci nec luctus. Etiam luctus erat vel pharetra dapibus. Duis vel malesuada ligula, vitae sollicitudin sapien. Fusce molestie vel urna non rhoncus.</p>
                                                    <a href="blog-single-post-sidebar-right.html" class="read-more"> Read More</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="grid-item">
                                        <article class="post">
                                            <div class="post-info-aside">
                                                <span class="post-date">
                                                    <span class="day">13</span>
                                                    <span class="month">Feb</span>
                                                </span>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-media">
                                                    <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
                                                        <a class="overlay-link" href="blog-single-post-sidebar-right.html">
                                                            <img src="../../images/blog/grid/landscape-margins-grid-3.jpg" alt="" />
                                                            <span class="overlay-info">
                                                                <span>
                                                                    <span>
                                                                        <span>More</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="with-background">
                                                    <div class="post-info">
                                                        <span class="post-date hide show-on-mobile">13 Feb 2015,</span><span class="post-category">in Discovery</span>
                                                    </div>
                                                    <h2 class="post-title"><a href="blog-single-post-sidebar-right.html">Keep Exploring</a></h2>
                                                    <p>Nam egestas felis in efficitur dapibus. Quisque lobortis risus id erat congue feugiat. Maecenas a eros luctus, maximus lorem ut, eleifend turpis. Nulla quis felis maximus lacus hendrerit facilisis a at ligula. Phasellus et velit eu justo consequat aliquam vitae at dui.</p>
                                                    <a href="blog-single-post-sidebar-right.html" class="read-more"> Read More</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Inner End -->
                <div class="section-block pagination-3 pt-40 pb-40">
                    <div class="row">
                        <div class="column width-12">
                            <ul>
                                <li><a class="pagination-previous" href="#"><span class="icon-left-open-mini left"></span> Prev Page</a></li>
                                <li><a class="current" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a class="pagination-next disabled" href="#"> Next Page <span class="icon-right-open-mini right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content End -->
        </div>
    </div>
    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
    <script src="js/timber.master.min.js"></script>
</body>
</html>
