﻿@model CareerWizCMS.View_Models.IndustrySectors.clsIndustrySectorEdit

@{
    ViewBag.Title = "IndustrySectorEdit";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Industry Sector</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmIndustrySectorEdit", @name = "frmIndustrySectorEdit" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.clsIndustrySector.iIndustrySectorID)
                    <div class="form-horizontal">
                        <h4 class="mb-xlg">Industry Sector</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strTitle">Industry Sector</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(Model => Model.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Industry Sector", @readonly = "readonly", @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.strTitle, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <hr />
                        </div>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="strDescription">Description</label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(Model => Model.clsIndustrySector.strDescription, new { @id = "strDescription", @placeholder = "Description", @class = "form-control", @rows = "4" })
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("IndustrySectorsView", "IndustrySectors")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<!-- end: page -->

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Edit Industry Sector | CareerWiz CMS");
        $("#h2PageHeader").text("Edit Industry Sector");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("IndustrySectorsView", "IndustrySectors")'>Industry Sectors</a></li>");
        $("#olBreadcrumbs").append("<li><span>Edit Industry Sector</span></li>");
    }
</script>