﻿@model CareerWizCMS.View_Models.InstitutionIndustrySectorLinkTable.clsInstitutionIndustrySectorLinkTableEdit

@{
    ViewBag.Title = "InstitutionIndustrySectorLinkTableEdit";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Edit Institution And Industry Sector Link</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmInstitutionIndustrySectorLinkTableEdit", @name = "frmInstitutionIndustrySectorLinkTableEdit" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.clsInstitutionIndustrySectorLinkTable.iInstitutionIndustrySectorLinkTableID)
                    <div class="form-horizontal">
                        <h4 class="mb-xlg">Institution</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lstInstitutions">Institution</label>
                                <div class="col-md-8">
                                    @if (Model.lstInstitutions.Count > 0)
                                    {
                                        @Html.DropDownListFor(Model => Model.clsInstitutionIndustrySectorLinkTable.iInstitutionID, new SelectList(Model.lstInstitutions, "iInstitutionID", "strTitle"), "-- Select An Institution --", new { id = "lstInstitutions", name = "lstInstitutions" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsInstitutionIndustrySectorLinkTable.iInstitutionID, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(Model => Model.clsInstitutionIndustrySectorLinkTable.iInstitutionID, new SelectList(Model.lstInstitutions, "iInstitutionID", "strTitle"), "-- No Institutions Available --", new { id = "lstInstitutions", name = "lstInstitutions" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsInstitutionIndustrySectorLinkTable.iInstitutionID, "", new { @class = "text-danger" })
                                    }
                                </div>
                            </div>
                        </fieldset>

                        <hr class="dotted tall">
                        <h4 class="mb-xlg">Industry Sector</h4>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="lstIndustrySectors">Industry Sector</label>
                                <div class="col-md-8">
                                    @if (Model.lstIndustrySectors.Count > 0)
                                    {
                                        @Html.DropDownListFor(Model => Model.clsInstitutionIndustrySectorLinkTable.iIndustrySectorID, new SelectList(Model.lstIndustrySectors, "iIndustrySectorID", "strTitle"), "-- Select A Industry Sector --", new { id = "lstIndustrySectors", name = "lstIndustrySectors" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsInstitutionIndustrySectorLinkTable.iIndustrySectorID, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(Model => Model.clsInstitutionIndustrySectorLinkTable.iIndustrySectorID, new SelectList(Model.lstIndustrySectors, "iIndustrySectorID", "strTitle"), "-- No Industry Sectors Available --", new { id = "lstIndustrySectors", name = "lstIndustrySectors" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.clsInstitutionIndustrySectorLinkTable.iIndustrySectorID, "", new { @class = "text-danger" })
                                    }
                                </div>
                            </div>
                        </fieldset>

                        @*<hr class="dotted tall">*@

                        <div class="row">
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("InstitutionIndustrySectorLinkTableView", "InstitutionIndustrySectorLinkTable")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<!-- end: page -->

<!-- information modal popup -->
<!-- item exists -->
<script type="text/javascript">
    function itemExists() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institution and Industry Sector link item already exists.',
			type: 'info',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Edit Institution And Industry Sector Link Setting | CareerWiz CMS");
        $("#h2PageHeader").text("Edit Institution And Industry Sector Link Setting");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("InstitutionIndustrySectorLinkTableView", "InstitutionIndustrySectorLinkTable")'>Institution And Industry Sector Links</a></li>");
        $("#olBreadcrumbs").append("<li><span>Edit Institution And Industry Sector Link Setting</span></li>");

         @{
             //ADD SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionIndustrySectorLinkTableRecordExists"] != null)
            {
                if ((bool)TempData["bIsInstitutionIndustrySectorLinkTableRecordExists"] == true)
                {
                    <text>
                        itemExists();
                    </text>
                }
            }
        }
    }
</script>