﻿@model CareerWizCMS.View_Models.InstitutionIndustrySectorLinkTable.clsInstitutionIndustrySectorLinkTableView

@{
    ViewBag.Title = "InstitutionIndustrySectorLinkTableView";
}

@*Tables Stylesheet*@
@Styles.Render("~/Content/cms/tableStylesheets")

<!-- start: page -->

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            @*<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>*@
            @*<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>*@
        </div>
        <h2 class="panel-title">Institution And Industry Sector Links Table  (@Model.lstInstitutionIndustrySectorLinkTable.Count)</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Institution</th>
                    <th>Industry Sector</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstInstitutionIndustrySectorLinkTable)
                {
                    <tr data-item-id="@item.iInstitutionIndustrySectorLinkTableID" id="@item.iInstitutionIndustrySectorLinkTableID">
                        <td style="vertical-align: middle;">@item.clsInstitution.strTitle</td>
                        <td style="vertical-align: middle;">@item.clsIndustrySector.strTitle</td>
                        <td class="actions" style="font-size:2em; text-align:center; vertical-align:central;">
                            <a href="@Url.Action("InstitutionIndustrySectorLinkTableEdit", "InstitutionIndustrySectorLinkTable", new { @id = @item.iInstitutionIndustrySectorLinkTableID })"><i class="fa fa-pencil"></i></a>
                            &nbsp;&nbsp;&nbsp;
                            <a id="@item.iInstitutionIndustrySectorLinkTableID" class="modal-with-zoom-anim modal-basic" href="#deleteItemModal" onclick="deleteItemConfirm(@item.iInstitutionIndustrySectorLinkTableID)"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-md keep-right" style="float:right;">
                    <a id="btnInstitutionIndustrySectorLinkTableAdd" href="@Url.Action("InstitutionIndustrySectorLinkTableAdd", "InstitutionIndustrySectorLinkTable")" class="btn btn-primary">Add Institution Industry Sector Link <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.HiddenFor(Model => Model.iInstitutionIndustrySectorLinkTableID)
<!-- end: page -->
<!-- Modal Animation -->
<!-- delete modal popup -->
<div id="deleteItemModal" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>Are you sure that you want to delete this Institution And Industry Sector Link item?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm-close" onclick="deleteItem()">Confirm</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- delete item modal popup -->
<!-- information modal popup -->
<a id="infoItemModalAnchor" style="display:none;" class="mb-xs mt-xs mr-xs modal-basic btn btn-info" href="#infoItemModal"></a>

<div id="infoItemModal" class="modal-block modal-block-info mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Information</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="modal-text">
                    <p>There cannot be no Institution And Industry Sector Link items.</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-info modal-dismiss">OK</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- information modal popup -->
<!-- add item success -->
<script type="text/javascript">
    function addItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institution And Industry Sector Link Item added successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- update item success -->
<script type="text/javascript">
    function updatedItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institution And Industry Sector Link Item updated successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- delete item success -->
<script type="text/javascript">
    function deleteItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'Institution And Industry Sector Link Item deleted successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<script type="text/javascript">
    function deleteItemConfirm(iItemID) {
        //SET ITEM ID TO DELETE
        $('#iInstitutionIndustrySectorLinkTableID').val(iItemID);
    }
</script>

<!-- delete item -->
<script type="text/javascript">
    function deleteItem() {

        var iInstitutionIndustrySectorLinkTableID = $('#iInstitutionIndustrySectorLinkTableID').val();

        if (iInstitutionIndustrySectorLinkTableID != 0) {
            $.ajax({
                url: '@Url.Action("InstitutionIndustrySectorLinkTableDelete", "InstitutionIndustrySectorLinkTable")',
                type: "POST",
                data: { "iInstitutionIndustrySectorLinkTableID": iInstitutionIndustrySectorLinkTableID },
                success: function (info) {
                    // states is your JSON array
                    if (info.bIsSuccess == true) {
                        window.location.href = "/CMS/InstitutionIndustrySectorLinkTable/InstitutionIndustrySectorLinkTableView/";
                    }
                }
            });
        }
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("Institution And Industry Sector Links | CareerWiz CMS");
        $("#h2PageHeader").text("Institution And Industry Sector Links");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><span>Institution And Industry Sector Links</span></li>");

         @{
             //ADD SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionIndustrySectorLinkTableAdded"] != null)
            {
                if ((bool)TempData["bIsInstitutionIndustrySectorLinkTableAdded"] == true)
                {
                    <text>
                        addItemSuccess();
                    </text>
                }
            }
             //UPDATE SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionIndustrySectorLinkTableUpdated"] != null)
            {
                if ((bool)TempData["bIsInstitutionIndustrySectorLinkTableUpdated"] == true)
                {
                    <text>
                        updatedItemSuccess();
                    </text>
                }
            }
             //DELETE SUCCESS NOTIFICATION
            if (TempData["bIsInstitutionIndustrySectorLinkTableDeleted"] != null)
            {
                if ((bool)TempData["bIsInstitutionIndustrySectorLinkTableDeleted"] == true)
                {
                    <text>
                        deleteItemSuccess();
                    </text>
                }
            }
        }
    }
</script>